#news { position:relative; overflow:hidden; }
#news .post { position:relative; margin:auto; width:78.8%; height:245px; -o-transition:all 0.6s ease 0s; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
#news .post a {  position:absolute; bottom:0; display:block; width:100%; height:245px; }
#news .activeNews { width:100%; }
#news .activeNews a { border-width:4px; cursor:url(img/cursor-more.png),auto; }
#prev { cursor:url(img/cursor-top.png),auto; position:fixed; z-index:999; display:block; left:0; right:0; top:99px; }
#next { cursor:url(img/cursor-bottom.png),auto; position:fixed; z-index:999; display:block; left:0; right:0; bottom:0; }

#news-the-whole { z-index:3; } 
#news-the-whole a { background:#1c232e url(../img/the-whole/news/bg-the-whole-news.png) center center no-repeat; border-top:#4db99a 4px solid; border-bottom:#4db99a 0 solid; border-left:none;  border-right:none; } 

#news-social-coke { z-index:2; } 
#news-social-coke a { background:#f0e2c7  url(../img/social-coke/news/bg-social-coke-news.png) center center no-repeat; border-top:#ff007d 0 solid; border-bottom:#00c4ff 0 solid; border-left:none;  border-right:none; } 
.oiseau-social-coke { display:block; position:absolute; clip:rect(0,374px,217px,0); left:-150%; top:20px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .oiseau-social-coke { left:-80px; }
.bonhomme-social-coke { display:block; position:absolute; left:50%; top:155px; margin-left:13%; }
.poisson-social-coke { display:block; position:absolute; left:50%; top:185px; margin-left:40%; }
.drink-social-coke { display:block; position:absolute; left:50%; top:115px; margin-left:30%; }
.love-social-coke { display:block; position:absolute; right:50%; top:20px; margin-right:29%; }
.hello-social-coke { display:block; position:absolute; right:50%; top:65px; margin-right:20%; }
.point1-social-coke { display:block; position:absolute; right:50%; top:215px; margin-right:38%; }
.point2-social-coke { display:block; position:absolute; right:50%; top:211px; margin-right:32%; }
.point3-social-coke { display:block; position:absolute; right:50%; top:167px; margin-right:28%; }
.point4-social-coke { display:block; position:absolute; right:50%; top:184px; margin-right:21%; }
.point5-social-coke { display:block; position:absolute; right:50%; top:155px; margin-right:34%; }
.point6-social-coke { display:block; position:absolute; right:50%; top:206px; margin-right:26%; }
.goutte-social-coke { position:absolute; left:50%; margin-left:-250px; clip:rect(0, 500px, 237px, 0); }
.goutte1 { position:absolute; left:475px; top:-68px; }
.goutte2 { position:absolute; left:130px; top:-68px; }
.goutte3 { position:absolute; left:65px; top:-68px; }
.goutte4 { position:absolute; left:340px; top:-68px; }
.goutte5 { position:absolute; left:40px; top:-68px; }
.activeNews .goutte1 { -moz-animation: goutte 1s infinite linear; -o-animation: goutte 1s infinite linear; -webkit-animation: goutte 1s infinite linear; animation: goutte 1s infinite linear; }
.activeNews .goutte2 { -moz-animation: goutte 0.8s infinite linear; -o-animation: goutte 0.8s infinite linear; -webkit-animation: goutte 0.8s infinite linear; animation: goutte 0.8s infinite linear; }
.activeNews .goutte3 { -moz-animation: goutte 1.2s infinite linear; -o-animation: goutte 1.2s infinite linear; -webkit-animation: goutte 1.2s infinite linear; animation: goutte 1.2s infinite linear; }
.activeNews .goutte4 { -moz-animation: goutte 0.9s infinite linear; -o-animation: goutte 0.9s infinite linear; -webkit-animation: goutte 0.9s infinite linear; animation: goutte 0.9s infinite linear; }
.activeNews .goutte5 { -moz-animation: goutte 0.6s infinite linear; -o-animation: goutte 0.6s infinite linear; -webkit-animation: goutte 0.6s infinite linear; animation: goutte 0.6s infinite linear; }
@-moz-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@-webkit-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@-o-keyframes goutte { 0% { top:-68px; } 100% { top:265px; } }
@-ms-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
.tweet-social-coke { display:block; position:absolute; right:-70%; top:15px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .tweet-social-coke { right:25px; top:15px; -moz-animation: tweetButton 4s infinite linear; -o-animation: tweetButton 4s infinite linear; -webkit-animation: tweetButton 4s infinite linear; animation: tweetButton 4s infinite linear; }
@-webkit-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-o-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-moz-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-khtml-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-ms-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }

#news-partech { }
#news-partech a { background:#1d1d1c url(../img/partech/news/bg-partech-news.png) center center no-repeat; border-top:#e8f603 0 solid; border-bottom:#e6202f 0 solid; border-left:none;  border-right:none; } 
.cinema-display-partech { z-index:99; display:block; position:absolute; height:120%; clip:rect(0,500px,237px,0); right:10px; top:10px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .cinema-display-partech { height:165%; top:-90px; right:20px; clip:rect(0,500px,327px,0); }
.single-rack-partech { z-index:99; display:block; position:absolute; height:350px; top:-80px; left:-50px; clip:rect(80px,500px,317px,0); -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }

@media screen and (max-width:640px) {

}

@media screen and (min-width:641px) {

}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1200px) {

}

