/**************** Reset ****************/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size:1em; font-weight:normal; font-style:normal; }
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}
a{text-decoration:none;} 

@font-face { font-family: 'mostra-nuova-bold'; src: url('font/mostra-nuova/mostra_nuova_bold-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_bold-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_bold-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_bold-webfont.svg#mostra_nuovabold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-light'; src: url('font/mostra-nuova/mostra_nuova_light-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_light-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_light-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_light-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_light-webfont.svg#mostra_nuovalight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-regular'; src: url('font/mostra-nuova/mostra_nuova_regular-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_regular-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_regular-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_regular-webfont.svg#mostra_nuova_regularregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-thin'; src: url('font/mostra-nuova/mostra_nuova_thin-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_thin-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_thin-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_thin-webfont.svg#mostra_nuovathin') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-alta-light'; src: url('font/mostra-nuova/mostra_nuova_alta_light-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_alta_light-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.svg#mostra_nuova_altalight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-alta-regular'; src: url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.svg#mostra_nuova_alta_regularRg') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'mostra-nuova-alta-thin'; src: url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.eot'); src: url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.svg#mostra_nuova_altathin') format('svg'); font-weight: normal; font-style: normal; }

.mostraNuovaRegular { font-family: 'mostra-nuova-regular'; }
.mostraNuovaAltaRegular { font-family: 'mostra-nuova-alta-regular'; }
.mostraNuovaLight { font-family: 'mostra-nuova-light'; }
.mostraNuovaAltaLight { font-family: 'mostra-nuova-alta-light'; }
.mostraNuovaThin { font-family: 'mostra-nuova-thin'; }
.mostraNuovaAltaThin { font-family: 'mostra-nuova-alta-thin'; }

body { margin:0; padding:0; border:none; width:100%; height:100%; background:#fcfcfc;  color:#111; font-family: "mostra-nuova-regular", Helvetica, Arial, sans-serif; }

#menu { background:#fcfcfc; }
#menu nav { position:relative; display:block; border-bottom:1px solid #eee; }
#menu nav h1 { font-size:1.750em; font-family: 'mostra-nuova-light'; color:#111; letter-spacing:0.16em; }
#menu nav ul li { display:inline-block; font-size:0.625rem; letter-spacing:0.16em; }
#menu nav ul li a { display:block; text-transform:uppercase; color:#111; font-size:1.563em; }
#menu nav ul li a.selected:after { content:''; display:block; background:#111; }

header { padding:0 6.55%; position:absolute; z-index-1; width:100%; background:#111; color:#fcfcfc; text-align:center; }
header p { position:absolute; left:0; right:0; top:50%; padding:0 6.55%; font-family: 'mostra-nuova-thin'; }
header p span { text-transform:uppercase; display:block; letter-spacing:0.16em; }

footer { position:relative; background:#111; color:#fcfcfc; padding:50px 4.5%; font-family:'mostra-nuova-thin'; }
footer h1 { font-size:1.50em; letter-spacing:0.16em; margin-bottom:10px; }
footer ul { font-size:1.125em; margin-bottom:10px; }
footer ul li span { display:inline-block; width:15px; text-align:center; margin-right:10px; }
footer ul li a { color:#fcfcfc; }
footer ul li:nth-of-type(2) { margin:2px 0; }
footer mark { color:#818181; background:none; font-size:0.875em; font-family:'mostra-nuova-light'; }
footer nav { display:block; }
footer nav a { color:#fcfcfc; text-transform:uppercase; font-size:0.75em; font-family:'mostra-nuova-light'; }
footer nav a.selected { text-decoration:underline; }
footer div { font-size:1.125em; text-transform:uppercase; letter-spacing:0.16em; font-family:'mostra-nuova-light'}

#resume article h1 { text-transform:uppercase; text-align:center; letter-spacing:0.16em; }
#resume article h1:after { content:''; display:block; width:83px; height:4px; background:url(img/bottom-project.png) no-repeat; }
#resume article dt { text-transform:uppercase; text-align:center; margin-bottom:5px; }
#resume article dd { font-family:'mostra-nuova-light'; text-align:center; }
#resume article dl:after { content:''; display:block; width:3%; height:1px; background:#111; }
#resume article dd a { color:#111; font-family:'mostra-nuova-regular';}
#resume article dd img { display:block; min-width:60px; width:8%; margin:15px auto 0 auto; }
.download { text-align:center; }
.download a { display:inline-block; font-family:'mostra-nuova-light'; padding:10px 20px; margin:auto; background:#111; color:#fcfcfc; font-size:1em; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }

#project { margin:50px auto; font-size:0; }
#project ul { font-size:0; margin:0 auto 50px auto; text-align:center; }
#project ul li { display:inline-block; cursor:pointer; font-size:1.125rem; color:#111; }
#project ul li:nth-of-type(2n+1) { margin:0 2%; }
#project ul li.notActived { text-decoration:line-through; }
.column { position:relative; display:inline-block; vertical-align:top; font-size:1rem; }
#project article { font-size:0.875rem; position:relative; vertical-align:top; -o-transition:all 1s ease 0s; -moz-transition:all 1s ease 0s; -webkit-transition:all 1s ease 0s; -ms-transition:all 1s ease 0s; -khtml-transition:all 1s ease 0s; transition:all 1s ease 0s; }
#project article:after { content:''; display:block; width:83px; height:4px; background:url(img/bottom-project.png) no-repeat; margin:15px auto 50px auto; }
#project article h1 { font-family: 'mostra-nuova-bold'; text-align:center; margin:25px auto 10px auto; font-size:1.063rem; }
#project article p { font-size:; text-align:center; }
#project article figure { position:relative; width:100%; display:block; margin:0; }
.bg-project { width:100%; display:block; }
#project article figure a figcaption { display:none; }
#project article.notActived .showHideProject { z-index:1; }
#project article.notActived { opacity:0.2; }
#project article.notActived .viewCaseStudy { display:none; }
.showHideProject { position:absolute; width:100%; height:100%; z-index:-1; }
#project article .viewCaseStudy { position:absolute; height:100%; width:0; z-index:+1; background:#111; -o-transition:all 0.2s ease 0s; -moz-transition:all 0.2s ease 0s; -webkit-transition:all 0.2s ease 0s; -ms-transition:all 0.2s ease 0s; -khtml-transition:all 0.2s ease 0s; transition:all 0.2s ease 0s; }
#project article .viewCaseStudy p{ position:absolute; top:47%; width:100px; left:-100px; display:none; color:#fcfcfc; font-size:1.125em; font-family:'mostra-nuova-light'; -o-transition:all 0.2s ease 0s; -moz-transition:all 0.2s ease 0s; -webkit-transition:all 0.2s ease 0s; -ms-transition:all 0.2s ease 0s; -khtml-transition:all 0.2s ease 0s; transition:all 0.2s ease 0s; }
#project article .goutte1-project { display:none; }
#project article .goutte2-project { display:none; }
#project article .goutte3-project { display:none; }
#project article .goutte4-project { display:none; }
#project article .star1-project { display:none; }
#project article .star2-project { display:none; }
#project article .star3-project { display:none; }
#topPage { text-align:center; }
#topPage a { display:inline-block; font-family:'mostra-nuova-light'; padding:10px 20px; margin:auto; background:#111; color:#fcfcfc; font-size:1rem; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
#topPage a:hover { -moz-border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; }




#news { position:relative; overflow:hidden; }
#news .post { position:relative; margin:auto; width:78.8%; height:245px; -o-transition:all 0.6s ease 0s; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
#news .post a {  position:absolute; bottom:0; display:block; width:100%; height:245px; }
#news .activeNews { width:100%; }
#news .activeNews a { border-width:4px; }
#prev { position:fixed; z-index:999; display:block; left:0; right:0; top:99px; }
#next { position:fixed; z-index:999; display:block; left:0; right:0; bottom:0; }

#news-the-whole { z-index:3; } 
#news-the-whole a { background:#1c232e url(../img/the-whole/news/bg-the-whole-news.png) center center no-repeat; border-top:#4db99a 4px solid; border-bottom:#4db99a 0 solid; border-left:none;  border-right:none; } 

#news-social-coke { z-index:2; } 
#news-social-coke a { background:#f0e2c7  url(../img/social-coke/news/bg-social-coke-news.png) center center no-repeat; border-top:#ff007d 0 solid; border-bottom:#00c4ff 0 solid; border-left:none;  border-right:none; } 
.oiseau-social-coke { display:block; position:absolute; clip:rect(0,374px,217px,0); left:-150%; top:20px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .oiseau-social-coke { left:-80px; }
.bonhomme-social-coke { display:block; position:absolute; left:50%; top:155px; margin-left:13%; }
.poisson-social-coke { display:block; position:absolute; left:50%; top:185px; margin-left:40%; }
.drink-social-coke { display:block; position:absolute; left:50%; top:115px; margin-left:30%; }
.love-social-coke { display:block; position:absolute; right:50%; top:20px; margin-right:29%; }
.hello-social-coke { display:block; position:absolute; right:50%; top:65px; margin-right:20%; }
.point1-social-coke { display:block; position:absolute; right:50%; top:215px; margin-right:38%; }
.point2-social-coke { display:block; position:absolute; right:50%; top:211px; margin-right:32%; }
.point3-social-coke { display:block; position:absolute; right:50%; top:167px; margin-right:28%; }
.point4-social-coke { display:block; position:absolute; right:50%; top:184px; margin-right:21%; }
.point5-social-coke { display:block; position:absolute; right:50%; top:155px; margin-right:34%; }
.point6-social-coke { display:block; position:absolute; right:50%; top:206px; margin-right:26%; }
.goutte-social-coke { position:absolute; left:50%; margin-left:-250px; clip:rect(0, 500px, 237px, 0); }
.goutte1 { position:absolute; left:475px; top:-68px; }
.goutte2 { position:absolute; left:130px; top:-68px; }
.goutte3 { position:absolute; left:65px; top:-68px; }
.goutte4 { position:absolute; left:340px; top:-68px; }
.goutte5 { position:absolute; left:40px; top:-68px; }
.activeNews .goutte1 { -moz-animation: goutte 1s infinite linear; -o-animation: goutte 1s infinite linear; -webkit-animation: goutte 1s infinite linear; animation: goutte 1s infinite linear; }
.activeNews .goutte2 { -moz-animation: goutte 0.8s infinite linear; -o-animation: goutte 0.8s infinite linear; -webkit-animation: goutte 0.8s infinite linear; animation: goutte 0.8s infinite linear; }
.activeNews .goutte3 { -moz-animation: goutte 1.2s infinite linear; -o-animation: goutte 1.2s infinite linear; -webkit-animation: goutte 1.2s infinite linear; animation: goutte 1.2s infinite linear; }
.activeNews .goutte4 { -moz-animation: goutte 0.9s infinite linear; -o-animation: goutte 0.9s infinite linear; -webkit-animation: goutte 0.9s infinite linear; animation: goutte 0.9s infinite linear; }
.activeNews .goutte5 { -moz-animation: goutte 0.6s infinite linear; -o-animation: goutte 0.6s infinite linear; -webkit-animation: goutte 0.6s infinite linear; animation: goutte 0.6s infinite linear; }
@-moz-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@-webkit-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@-o-keyframes goutte { 0% { top:-68px; } 100% { top:265px; } }
@-ms-keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
@keyframes goutte { 0% { top:-68px; } 100% { top:313px; } }
.tweet-social-coke { display:block; position:absolute; right:-70%; top:15px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .tweet-social-coke { right:25px; top:15px; -moz-animation: tweetButton 4s infinite linear; -o-animation: tweetButton 4s infinite linear; -webkit-animation: tweetButton 4s infinite linear; animation: tweetButton 4s infinite linear; }
@-webkit-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-o-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-moz-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-khtml-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@-ms-keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }
@keyframes tweetButton{ 50%, 54%, 58%, 62% { margin:0;} 52%, 56%, 60%{ margin-right:10px; } 100%{ margin:0; } }

#news-partech { }
#news-partech a { background:#1d1d1c url(../img/partech/news/bg-partech-news.png) center center no-repeat; border-top:#e8f603 0 solid; border-bottom:#e6202f 0 solid; border-left:none;  border-right:none; } 
.cinema-display-partech { z-index:99; display:block; position:absolute; height:120%; clip:rect(0,500px,237px,0); right:10px; top:10px; -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }
.activeNews .cinema-display-partech { height:165%; top:-90px; right:20px; clip:rect(0,500px,327px,0); }
.single-rack-partech { z-index:99; display:block; position:absolute; height:350px; top:-80px; left:-50px; clip:rect(80px,500px,317px,0); -moz-transition:all 0.6s ease 0s; -webkit-transition:all 0.6s ease 0s; -ms-transition:all 0.6s ease 0s; -khtml-transition:all 0.6s ease 0s; transition:all 0.6s ease 0s; }






#about { padding:149px 6.55% 50px; }
#about article h1 { font-family: 'mostra-nuova-light'; font-size:1.875em; text-align:center; }
#about article h1 em { letter-spacing:0.16em; }
#about article p { width:85%; margin:10px auto; font-family: 'mostra-nuova-light'; font-size:1.25em; text-align:center; }
#about article a { color:#111; }
#about article a:hover { color:#111; text-decoration:underline; }
.age { position:relative; display:inline-block; width:38px; height:34px; vertical-align:bottom; }
.age div { position:absolute; display:inline-block; width:38px; height:34px; top:0; left:0; clip:rect(0,40px,34px,0); }
.age span { position:absolute; text-align:center; width:19px; display:inline-block;  }
.age span:nth-of-type(1) { left:0; -moz-animation: firstNumber 5s infinite linear; -o-animation: firstNumber 5s infinite linear; -webkit-animation: firstNumber 5s infinite linear; animation: firstNumber 5s infinite linear; }
.age span:nth-of-type(2) { right:0; -moz-animation: secondNumber 5s infinite linear; -o-animation: secondNumber 5s infinite linear; -webkit-animation: secondNumber 5s infinite linear; animation: secondNumber 5s infinite linear; }
@-moz-keyframes firstNumber { 0% { top:0; } 20%, 80%{ top:-136px; } 100% { top:0; } }
@-webkit-keyframes firstNumber { 0% { top:0; } 20%, 80%{ top:-136px; } 100% { top:0; } }
@-o-keyframes firstNumber { 0% { top:0; } 20%, 80%{ top:-136px; } 100% { top:0; } }
@-ms-keyframes firstNumber { 0% { top:0; } 20%, 80%{ top:-136px; } 100% { top:0; } }
@keyframes firstNumber { 0% { top:0; } 20%, 80%{ top:-136px; } 100% { top:0; } }
@-moz-keyframes secondNumber { 0% { top:0; } 20%, 80%{ bottom:-136px; } 100% { bottom:0; } }
@-webkit-keyframes secondNumber { 0% { top:-136px; } 20%, 80%{ top:0; } 100% { top:-136px; } }
@-o-keyframes secondNumber { 0% { bottom:0; } 20%, 80%{ bottom:-136px; } 100% { bottom:0; } }
@-ms-keyframes secondNumber { 0% { bottom:0; } 20%, 80%{ bottom:-136px; } 100% { bottom:0; } }
@keyframes secondNumber { 0% { bottom:0; } 20%, 80%{ bottom:-136px; } 100% { bottom:0; } }

#about article h2 { font-family: 'mostra-nuova-regular'; font-size:3.5em; text-transform:uppercase; text-align:center; margin-top:30px; }
#about article h2:after { content:''; display:block; width:400px; height:18px; background:url(img/bottom-use.png) no-repeat; margin:15px auto 10px auto; }
#about article ul { margin:auto; width:400px; font-size:0; margin-bottom:500px;}
#about article ul li { position:relative; font-size:1rem; font-family: 'mostra-nuova-bold'; display:inline-block; width:28%; text-align:center; }
#about article ul li img { display:block; width:100%; }
#about article ul li:nth-of-type(2){ margin:0 8%; }

.code { position:absolute; width:100%; background:red; clip:rect(0,112px,112px,0); }
.code span { position:absolute; width:100%; left:0; -moz-animation: codeAnimation 8s infinite linear; -o-animation: codeAnimation 8s infinite linear; -webkit-animation: codeAnimation 8s infinite linear; animation: codeAnimation 8s infinite linear; }
@-moz-keyframes codeAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-webkit-keyframes codeAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-o-keyframes codeAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-ms-keyframes codeAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@keyframes codeAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }

.design { position:absolute; width:100%; background:red; clip:rect(0,112px,112px,0); }
.design span { position:absolute; width:100%; left:0; -moz-animation: designAnimation 8s infinite linear; -o-animation: designAnimation 8s infinite linear; -webkit-animation: designAnimation 8s infinite linear; animation: designAnimation 8s infinite linear; }
@-moz-keyframes designAnimation { 0%, 30% { top:-224px; } 35%, 65%{ top:-112px; } 70%, 100% { top:0; } }
@-webkit-keyframes designAnimation { 0%, 30% { top:-224px; } 35%, 65%{ top:-112px; } 70%, 100% { top:0; } }
@-o-keyframes designAnimation { 0%, 30% { top:-224px; } 35%, 65%{ top:-112px; } 70%, 100% { top:0; } }
@-ms-keyframes designAnimation { 0%, 30% { top:-224px; } 35%, 65%{ top:-112px; } 70%, 100% { top:0; } }
@keyframes designAnimation { 0%, 30% { top:-224px; } 35%, 65%{ top:-112px; } 70%, 100% { top:0; } }

.management { position:absolute; width:100%; background:red; clip:rect(0,112px,112px,0); }
.management span { position:absolute; width:100%; left:0; -moz-animation: managementAnimation 8s infinite linear; -o-animation: managementAnimation 8s infinite linear; -webkit-animation: managementAnimation 8s infinite linear; animation: managementAnimation 8s infinite linear; }
@-moz-keyframes managementAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-webkit-keyframes managementAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-o-keyframes managementAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@-ms-keyframes managementAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }
@keyframes managementAnimation { 0%, 30% { top:0; } 35%, 65%{ top:-112px; } 70%, 100% { top:-224px; } }








#partech article { position:relative; }
#partech article h1 { font-family:'mostra-nuova-bold'; font-size:1.125rem; }
#partech article ul li { font-family:'mostra-nuova-light'; font-size:1.125em; }
#partech article ul li em { font-family:'mostra-nuova-regular';}
#partech article ul li a { color:#111; }
#partech article ul li a:hover { text-decoration:underline; }
#chartePartech { display:inline-block; width:40%; margin:50px 13% 0px 0; vertical-align:top; }
#chartePartech img { display:block; width:100%; max-width:566px; }
#cinemaDisplayPartech { display:inline-block; width:40%; max-width:570px; margin:20px 0 0 0; vertical-align:top; }
#flashContent { width:100%; max-width:500px; max-height:42px; margin-top:30px; }
#dragScreen { background:#111 url(img/dark-grid.png) repeat; background-position:0.5px 0; overflow:hidden; border-top:1px solid #eee; border-bottom:1px solid #eee; }
#dragScreen div { position:relative; margin:100px auto; width:960px; }
#dragScreen div img:nth-of-type(1) { display:block; position:relative; z-index:2; box-shadow: 1px 1px 12px #111; }
#dragScreen div img:nth-of-type(2) { position:absolute; display:block; z-index:0; top:39px; left:151px; display:block; clip:rect(0,808px,587px,0); }
#dragScreen div img:nth-of-type(3) { display:block; position:relative; z-index:2; margin-top:30px; opacity:0.8; }
#dragScreen div span{ position:absolute; cursor:pointer; z-index:99; margin-top:-19px; left:30px; display:block; width:29px; height:29px; background:url(img/arrow-left-right.png) no-repeat center center #fcfcfc; -moz-border-radius:50%;; -webkit-border-radius:50%;; -ms-border-radius:50%;; -khtml-border-radius:50%;; border-radius:50%; }

#slideshow {
	position: relative;
	width: 640px;
	height: 310px;
	padding: 15px;
	border: 1px solid #ddd;
	margin: 0 auto 2em;
	background: #FFF;
	background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
@media screen and (max-width:640px) {

	#menu { padding:0px 7%; }
	#menu nav { text-align:center; padding:14px 0;}
	#menu nav h1 { margin-top:3px; }
	#menu nav ul { display:block; }
	#menu nav ul li a { padding:14px 10px 0px 10px; font-size:1.25em; }
	#menu nav ul li a.selected:after { content:''; display:block; margin:2px auto; width:100%; height:2px; background:#111; }

	header p { font-size:1.125em; margin-top:-21.5px; }
	header p span { font-size:1.125em;  }

	#project { padding:0 7%; }
	#project ul { display:none; }
	.column { width:100%; }

	footer { text-align:center; }
	footer p { margin-bottom:20px; }
	footer div { margin-bottom:20px; }
	footer nav { margin-bottom:20px; }

	#resume { padding:50px 7% 50px 7%; }
	#resume article:nth-of-type(2) { margin-top:80px; }
	#resume article h1 { font-size:1.25em; margin-bottom:30px; }
	#resume article h1:after { margin:5px auto; }
	#resume article dl:after { content:''; display:block; width:3%; height:1px; background:#111; margin:30px auto; }
	#resume article dt { font-size:1.5em; }
	#resume article dd { font-size:1.125em; }

	#partech article { padding:50px 7% 50px 7%; text-align:center; }
	#partech article ul { margin:10px auto; }
	#partech article ul li { margin-top:5px; }
	#partech article ul li em { display:block; }

}

@media screen and (min-width:641px) {

	#menu { position:fixed; z-index:999; top:0; left:0; right:0; padding:0px 2.5396%; }
	#menu nav { height:99px; }
	#menu nav h1 { display:inline-block; margin-top:34px; margin-left:2.25%; }
	#menu nav ul { position:absolute; right:2.25%; top:0; display:inline-block; font-size:0; }
	#menu nav ul li { display:inline-block; font-size:0.625rem; letter-spacing:0.16em; }
	#menu nav ul li a { position:relative; padding:41px 25px 39px 25px; }
	#menu nav ul li a.selected:after { content:''; position:absolute; left:0; right:0; top:0; height:6px; }
	#menu nav ul li a.notSelected:hover { text-decoration:underline; }

	header { margin-top:99px; }
	header p { font-size:2.5em; margin-top:-47.5px; }
	header p span { font-size:1.125em;  }

	#project { padding:0 6.55%; }
	#project ul { display:block; }
	.column { width: 100%; font-size:0; }
	.column article { width:48%; font-size:1em; display:inline-block; }
	.column article:nth-of-type(1) { margin-right:4%; }
	#project article:hover .viewCaseStudy { width:100%; }
	#project article:hover .viewCaseStudy p{ left:50%; margin-left:-50px; display:block; }

	#project article .icon-wafl-project { position:absolute; display:block; -moz-animation: iconWaflProject 1s infinite linear; -o-animation: iconWaflProject 1s infinite linear; -webkit-animation: iconWaflProject 3s infinite ease-in; animation: iconWaflProject 1s infinite linear; } 
	
	@-webkit-keyframes iconWaflProject { 0% { top:0%; left:0%; } 5% { top:100%; left:50%; } 10% { top:40%; left:100%; } 15% { top:0%; left:70%; } 20% { top:60%; left:0%; } 25% { top:100%; left:20%; } 30% { top:0%; left:60%; } 35% { top:100%; left:90%; } 40% { top:20%; left:100%; } 45% { top:0%; left:80%; } 50% { top:100%; left:10%; } 55% { top:90%; left:0%; } 60% { top:0%; left:35%; } 65% { top:20%; left:100%; } 70% { top:90%; left:0%; } 75% { top:100%; left:10%; } 80% { top:0%; left:80%; } 90% { top:60%; left:100%; } 95% { top:100%; left:40%; }  100% { top:0%; left:0%; -o-transform:rotate(1440deg); -moz-transform:rotate(1440deg); -webkit-transform:rotate(1440deg); -ms-transform:rotate(1440deg); -khtml-transform:rotate(1440deg); transform:rotate(3600deg); } }

	#project article:hover .star1-project { position:absolute; display:block; left:-8%; -moz-animation: starOneProject 1s 2 linear; -o-animation: starOneProject 1s 2 linear; -webkit-animation: starOneProject 1s 2 ease-in; animation: starOneProject 1s 2 linear; } 
	#project article:hover .star2-project { position:absolute; display:block; left:-8%; -moz-animation: starTwoProject 1.5s 1 linear; -o-animation: starTwoProject 1.5s 1 linear; -webkit-animation: starTwoProject 1.5s 1 ease-in; animation: starTwoProject 1.5s 1 linear; } 
	#project article:hover .star3-project { position:absolute; display:block; left:-8%; -moz-animation: starThreeProject 0.8s 2 linear; -o-animation: starThreeProject 0.8s 2 linear; -webkit-animation: starThreeProject 0.8s 2 ease-in; animation: starThreeProject 0.8s 2 linear; } 
	@-moz-keyframes starOneProject { 0% { top:100%; left:-8%; } 100% { top:10%; left:108%; -o-transform:rotate(405deg); -moz-transform:rotate(405deg); -webkit-transform:rotate(405deg); -ms-transform:rotate(405deg); -khtml-transform:rotate(405deg); transform:rotate(405deg); }  }
	@-webkit-keyframes starOneProject { 0% { top:100%; left:-8%; } 100% { top:10%; left:108%; -o-transform:rotate(405deg); -moz-transform:rotate(405deg); -webkit-transform:rotate(405deg); -ms-transform:rotate(405deg); -khtml-transform:rotate(405deg); transform:rotate(405deg); }  }
	@-o-keyframes starOneProject { 0% { top:100%; left:-8%; } 100% { top:10%; left:108%; -o-transform:rotate(405deg); -moz-transform:rotate(405deg); -webkit-transform:rotate(405deg); -ms-transform:rotate(405deg); -khtml-transform:rotate(405deg); transform:rotate(405deg); }  }
	@-ms-keyframes starOneProject { 0% { top:100%; left:-8%; } 100% { top:10%; left:108%; -o-transform:rotate(405deg); -moz-transform:rotate(405deg); -webkit-transform:rotate(405deg); -ms-transform:rotate(405deg); -khtml-transform:rotate(405deg); transform:rotate(405deg); }  }
	@keyframes starOneProject { 0% { top:100%; left:-8%; } 100% { top:10%; left:108%; -o-transform:rotate(405deg); -moz-transform:rotate(405deg); -webkit-transform:rotate(405deg); -ms-transform:rotate(405deg); -khtml-transform:rotate(405deg); transform:rotate(405deg); }  }
	
	@-moz-keyframes starTwoProject { 0% { top:100%; left:-8%; } 100% { top:-30%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@-webkit-keyframes starTwoProject { 0% { top:100%; left:-8%; } 100% { top:-30%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@-o-keyframes starTwoProject { 0% { top:100%; left:-8%; } 100% { top:-30%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@-ms-keyframes starTwoProject { 0% { top:100%; left:-8%; } 100% { top:-30%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@keyframes starTwoProject { 0% { top:100%; left:-8%; } 100% { top:-30%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	
	@-moz-keyframes starThreeProject { 0% { top:70%; left:-8%; } 100% { top:-10%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@-webkit-keyframes starThreeProject { 0% { top:110%; left:-8%; } 100% { top:20%; left:108%; -o-transform:rotate(720deg); -moz-transform:rotate(720deg); -webkit-transform:rotate(720deg); -ms-transform:rotate(720deg); -khtml-transform:rotate(720deg); transform:rotate(720deg); }  }
	@-o-keyframes starThreeProject { 0% { top:70%; left:-8%; } 100% { top:-10%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@-ms-keyframes starThreeProject { 0% { top:70%; left:-8%; } 100% { top:-10%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }
	@keyframes starThreeProject { 0% { top:70%; left:-8%; } 100% { top:-10%; left:108%; -o-transform:rotate(360deg); -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); -ms-transform:rotate(360deg); -khtml-transform:rotate(360deg); transform:rotate(360deg); }  }

	#project article:hover .goutte1-project { position:absolute; display:block; top:-20%; left:65%; -moz-animation: goutteProject 1s 2 ease-in; -o-animation: goutteProject 1s 2 ease-in; -webkit-animation: goutteProject 1s 2 ease-in; animation: goutteProject 1s 2 ease-in; } 
	#project article:hover .goutte2-project { position:absolute; display:block; top:-20%; left:41%; -moz-animation: goutteProject 1.2s 0.5s 1 ease-in; -o-animation: goutteProject 1.2s 0.5s 1 ease-in; -webkit-animation: goutteProject 1.2s 0.5s 1 ease-in; animation: goutteProject 1.2s 0.5s 1 ease-in; } 
	#project article:hover .goutte3-project { position:absolute; display:block; top:-20%; left:54%; -moz-animation: goutteProject 1.4s 2 ease-in; -o-animation: goutteProject 1.4s 2 ease-in; -webkit-animation: goutteProject 1.4s 2 ease-in; animation: goutteProject 1.4s 2 ease-in; } 
	#project article:hover .goutte4-project { position:absolute; display:block; top:-20%; left:36%; -moz-animation: goutteProject 0.8s 3 ease-in; -o-animation: goutteProject 0.8s 3 ease-in; -webkit-animation: goutteProject 0.8s 3 ease-in; animation: goutteProject 0.8s 3 ease-in; } 
	@-moz-keyframes goutteProject { 0% { top:-20%; } 100% { top:100%; } }
	@-webkit-keyframes goutteProject { 0% { top:-20%; } 100% { top:100%; } }
	@-o-keyframes goutteProject { 0% { top:-20%; } 100% { top:100%; } }
	@-ms-keyframes goutteProject { 0% { top:-20%; } 100% { top:100%; } }
	@keyframes goutteProject { 0% { top:-20%; } 100% { top:100%; } }

	footer ul li a:hover { text-decoration:underline; }
	footer p { margin-bottom:50px; }
	footer nav { position:absolute; bottom:50px; right:6.5%; }
	footer nav a { text-align:right; }
	footer nav a:hover { text-decoration:underline; }
	footer div { position:absolute; right:6.5%; top:50px; text-align:right; }

	#resume { padding:149px 6.55% 50px 6.55%; }
	#resume article:nth-of-type(2) { margin-top:100px; }
	#resume article h1 { font-size:1.875em; margin-bottom:50px; }
	#resume article h1:after { margin:8px auto; }
	#resume article dl:after { content:''; display:block; width:3%; height:1px; background:#111; margin:50px auto; }
	#resume article dt { font-size:2.5em; }
	#resume article dd { font-size:1.5em; }
	#resume article dd a:hover { text-decoration:underline; }
	.download a:hover { -moz-border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; }

	#partech { padding:99px 0 0px 0; }
	#description { padding:50px 6.55% 10px 6.55%; font-size:0; }
	#description h1 { margin-bottom:10px; }
	#description ul { display:inline-block; font-size:1rem; width:25%; margin-right:5%; }
	#description p { font-size:1rem; display:inline-block; width:55%; text-align:justify; vertical-align:top; }



}

@media screen and (min-width:1024px) {
	.column { width: 30.4%; }
	.first { }
	.second { margin:0 4.4%; }
	.third { }
	.column article { width:100%; }
	.column article:nth-of-type(1) { margin-right:0%; }
}

@media screen and (min-width:1200px) {

}
















#grid{ position: fixed; z-index:99999; width: 95%; opacity: 0.4; margin-left: 2.5396%; top:0; }

/* 
	24 COLUMN - RESPONSIVE GRID SYSTEM
	DEVELOPED BY DENIS LEBLANC
	URL - http://responsive.gs
	VERSION - 2.0
	LICENSED UNDER GPL & MIT
*/


/* 	SET ALL ELEMENTS BOX-SIZING TO BORDER-BOX
	If you need support for IE7 and lower use polyfill: https://github.com/Schepp/box-sizing-polyfill */
* { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }


/* MAIN CONTAINER */
.container { 
	max-width: 95%;
	margin: 0 auto; }


/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.row:after, .col:after, .clr:after, .group:after { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; }


/* DEFAULT ROW STYLES */
.row { margin-bottom: 1.5em; } /* set according to preference*/

							  
/* DEFAULT COLUMN STYLES */
.col { 
	display: block;
	float:left;
	width: 100%;
}

	.col {
		margin-left: 2%;}




/* RESET MARGINS */
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/* COLUMN WIDTH ON DISPLAYS +768px */

	.span_1 { width: 2.25%; background: red; height: 2000px;}
	.span_2 { width: 6.5%; }
	.span_3 { width: 10.75%; }
	.span_4 { width: 15.0%; }
	.span_5 { width: 19.25%; }
	.span_6 { width: 23.5%; }
	.span_7 { width: 27.75%; }
	.span_8 { width: 32.0%; }
	.span_9 { width: 36.25%; }
	.span_10 { width: 40.5%; }
	.span_11 { width: 44.75%; }
	.span_12 { width: 49.0%; }
	.span_13 { width: 53.25%; }
	.span_14 { width: 57.5%; }
	.span_15 { width: 61.75%; }
	.span_16 { width: 66.0%; }
	.span_17 { width: 70.25%; }
	.span_18 { width: 74.5%; }
	.span_19 { width: 78.75%; }
	.span_20 { width: 83.0%; }
	.span_21 { width: 87.25%; }
	.span_22 { width: 91.5%; }
	.span_23 { width: 95.75%; }
	.span_24 { width: 100%; }








