/**************** Reset ****************/
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
hr {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
fieldset,
img,
hr {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'mostra-nuova-bold';
  src: url('../font/mostra-nuova/mostra_nuova_bold-webfont.eot');
  src: url('../font/mostra-nuova/mostra_nuova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/mostra-nuova/mostra_nuova_bold-webfont.woff') format('woff'), url('../font/mostra-nuova/mostra_nuova_bold-webfont.ttf') format('truetype'), url('../font/mostra-nuova/mostra_nuova_bold-webfont.svg#mostra_nuovabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-light';
  src: url('../font/mostra-nuova/mostra_nuova_light-webfont.eot');
  src: url('../font/mostra-nuova/mostra_nuova_light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/mostra-nuova/mostra_nuova_light-webfont.woff') format('woff'), url('../font/mostra-nuova/mostra_nuova_light-webfont.ttf') format('truetype'), url('../font/mostra-nuova/mostra_nuova_light-webfont.svg#mostra_nuovalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-regular';
  src: url('../font/mostra-nuova/mostra_nuova_regular-webfont.eot');
  src: url('../font/mostra-nuova/mostra_nuova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/mostra-nuova/mostra_nuova_regular-webfont.woff') format('woff'), url('../font/mostra-nuova/mostra_nuova_regular-webfont.ttf') format('truetype'), url('../font/mostra-nuova/mostra_nuova_regular-webfont.svg#mostra_nuova_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-thin';
  src: url('../font/mostra-nuova/mostra_nuova_thin-webfont.eot');
  src: url('../font/mostra-nuova/mostra_nuova_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../font/mostra-nuova/mostra_nuova_thin-webfont.woff') format('woff'), url('../font/mostra-nuova/mostra_nuova_thin-webfont.ttf') format('truetype'), url('../font/mostra-nuova/mostra_nuova_thin-webfont.svg#mostra_nuovathin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Socialico";
  src: url("../font/socialico/Socialico.eot?") format("eot"), url("../font/socialico/Socialico.woff") format("woff"), url("../font/socialico/Socialico.ttf") format("truetype"), url("../font/socialico/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-size: 16px;
  font-size: 1em;
  background: #111111;
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'mostra-nuova-regular';
}
html {
  height: 100%;
}
body {
  -webkit-touch-callout: none;
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body,
.onepage-wrapper,
html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1281px) {
  body {
    font-size: 18px;
    font-size: 1.125em;
  }
}
@media screen and (min-width: 1344px) {
  body {
    font-size: 19px;
    font-size: 1.188em;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 20px;
    font-size: 1.250em;
  }
}
.userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dragCursor:hover {
  cursor: url('../img/identity/drag.png'), move;
}
.dragCursor:active {
  cursor: url('../img/identity/drag-active.png'), move;
}
#resize {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: #b59663;
  text-align: center;
}
#resize p {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  top: 50%;
  font-size: 30px;
  font-size: 1.875em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#borderTop {
  z-index: 9999;
  position: fixed;
  height: 8px;
  background: #b59663;
}
#borderLeft {
  z-index: 9999;
  position: fixed;
  width: 8px;
  background: #b59663;
}
#borderRight {
  z-index: 9999;
  position: fixed;
  width: 8px;
  background: #b59663;
}
#borderBottom {
  z-index: 9999;
  position: fixed;
  height: 8px;
  background: #b59663;
}
#borderTop.closeBorder {
  top: 20px;
  left: 20px;
  right: 20px;
}
#borderLeft.closeBorder {
  top: 20px;
  left: 20px;
  bottom: 20px;
}
#borderRight.closeBorder {
  top: 20px;
  bottom: 20px;
  right: 20px;
}
#borderBottom.closeBorder {
  bottom: 20px;
  left: 20px;
  right: 20px;
}
#borderTop.openBorder {
  top: 0;
  left: 0;
  right: 0;
}
#borderLeft.openBorder {
  top: 0;
  left: 0;
  bottom: 0;
}
#borderRight.openBorder {
  top: 0;
  bottom: 0;
  right: 0;
}
#borderBottom.openBorder {
  bottom: 0;
  left: 0;
  right: 0;
}
#wave1 {
  z-index: 9999;
  position: fixed;
  top: 48px;
  right: 48px;
  width: 1.8%;
}
#wave1 img {
  display: block;
  width: 100%;
}
#wave2 {
  z-index: 9999;
  position: fixed;
  bottom: 48px;
  left: 48px;
  width: 1.8%;
}
#wave2 img {
  display: block;
  width: 100%;
}
.button-menu {
  position: absolute;
  left: 50%;
  top: 58px;
  margin-left: -17px;
  text-align: center;
}
.button-menu a {
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  color: #b59663;
  display: block;
  width: 34px;
  height: 28px;
  padding-top: 6px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  border: solid 2px rgba(181, 150, 99, 0.4);
}
.button-menu a:hover {
  border: solid 2px #b59663;
}
@media screen and (max-width: 640px) {
  #resize {
    display: block;
  }
}
@media screen and (max-height: 500px) {
  #resize {
    display: block;
  }
}
.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}
.onepage-pagination {
  position: absolute;
  right: 38px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  margin-top: -87px;
  padding: 0;
}
.onepage-pagination li {
  text-align: center;
  padding: 0;
}
.onepage-pagination li a {
  padding: 15px 0;
  width: 4px;
  height: 4px;
  display: block;
}
.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #b59663;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -o-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.onepage-pagination li a.active:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=30);
  -moz-opacity: 1;
  -o-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.main section .page_container {
  position: relative;
  margin: 0 auto 0;
  z-index: 3;
}
.main section {
  overflow: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #b59663;
  text-align: center;
}
header #header-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
header #header-content h1 span {
  display: none;
}
header #header-content h1 img {
  display: block;
  width: 12%;
  margin: auto;
}
header #header-content p {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 20px;
  margin: 20px auto 60px auto;
  position: relative;
}
header #header-content p:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -45px;
  display: block;
  border-left: 1px dotted #b59663;
  height: 35px;
}
header #header-content #discover {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875em;
  color: #b59663;
  border: 1px dotted #b59663;
  left: 50%;
  padding: 11px 20px;
}
header #header-content #contact {
  font-size: 14px;
  font-size: 0.875em;
  margin-top: 40px;
}
header #header-content #contact li {
  display: inline-block;
  margin: 0 25px;
}
header #header-content #contact li a {
  color: #b59663;
  position: relative;
  padding-bottom: 5px;
}
header #header-content #contact li a:after {
  content: '';
  -moz-transition: all 0.2s 0s;
  -webkit-transition: all 0.2s 0s;
  -ms-transition: all 0.2s 0s;
  -khtml-transition: all 0.2s 0s;
  transition: all 0.2s 0s;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 0px;
  border-top: 1px dotted #b59663;
}
header #header-content #contact li a:hover:after {
  width: 0;
}
header #header-content #social {
  margin-top: 35px;
}
header #header-content #social li {
  display: inline-block;
  margin: 0 7.5px;
}
header #header-content #social li a {
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  color: #b59663;
  display: block;
  width: 34px;
  height: 25px;
  padding-top: 9px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  border: solid 2px rgba(181, 150, 99, 0.4);
}
header #header-content #social li a:hover {
  border: solid 2px #b59663;
}
header #header-content #social li #twitter {
  background: url('../img/identity/twitter.svg') center center no-repeat;
}
header #header-content #social li #behance {
  background: url('../img/identity/behance.svg') center center no-repeat;
}
header #header-content #social li #dribbble {
  background: url('../img/identity/dribble.svg') center center no-repeat;
  text-transform: none;
  font-family: 'mostra-nuova-bold';
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  color: #b59663;
  display: block;
  width: 34px;
  height: 25px;
  padding-top: 9px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  border: solid 2px rgba(181, 150, 99, 0.4);
}
header #header-content #social li #dribbble span {
  position: absolute;
  display: none;
  background: #b59663;
  color: #111111;
  font-size: 12px;
  font-size: 0.75em;
  top: 46px;
  left: -62px;
  width: 150px;
  padding: 5px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
header #header-content #social li #dribbble span:before {
  content: '';
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -4px;
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid #b59663;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
header #header-content #social li #dribbble:hover {
  border: solid 2px #b59663;
}
header #header-content #social li #dribbble:hover span {
  display: block;
}
header #header-content #social li #linkedin {
  background: url('../img/identity/linkedin.svg') center center no-repeat;
}
header #copyright {
  display: block;
  z-index: 9999;
  position: fixed;
  bottom: 48px;
  right: 48px;
}
header #copyright p {
  font-size: 14px;
  font-size: 0.875em;
  color: #b59663;
}
#footer {
  background: #fbfbfb;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #b59663;
  text-align: center;
}
#footer img {
  display: block;
  position: absolute;
  width: 15%;
  top: 50%;
  margin-top: -6%;
  left: 50%;
  margin-left: -7.5%;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: #b59663;
  text-align: center;
}
#loader div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -198px;
  margin-left: -126px;
}
#loader div img {
  display: block;
  height: 120px;
  margin: auto;
}
#loader div p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #111111;
  font-size: 14px;
  font-size: 0.875em;
  margin: 30px auto;
}
#loader div span {
  position: relative;
  display: block;
  width: 250px;
  height: 1px;
  margin: auto;
  background: #fbfbfb;
}
#loader div span span {
  position: absolute;
  width: 50%;
  background: #111111;
  top: 0;
  left: 0;
}
@font-face {
  font-family: 'Conv_Gotham-Book';
  src: url('../font/Gotham/Gotham-Book.eot');
  src: local('☺'), url('../font/Gotham/Gotham-Book.woff') format('woff'), url('../font/Gotham/Gotham-Book.ttf') format('truetype'), url('../font/Gotham/Gotham-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gotham-Light';
  src: url('../font/Gotham/Gotham-Light.eot');
  src: local('☺'), url('../font/Gotham/Gotham-Light.woff') format('woff'), url('../font/Gotham/Gotham-Light.ttf') format('truetype'), url('../font/Gotham/Gotham-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gotham-Thin';
  src: url('../font/Gotham/Gotham-Thin.eot');
  src: local('☺'), url('../font/Gotham/Gotham-Thin.woff') format('woff'), url('../font/Gotham/Gotham-Thin.ttf') format('truetype'), url('../font/Gotham/Gotham-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gotham-Bold';
  src: url('../font/Gotham/Gotham-Bold.eot');
  src: local('☺'), url('../font/Gotham/Gotham-Bold.woff') format('woff'), url('../font/Gotham/Gotham-Bold.ttf') format('truetype'), url('../font/Gotham/Gotham-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gotham-Medium';
  src: url('../font/Gotham/Gotham-Medium.eot');
  src: local('☺'), url('../font/Gotham/Gotham-Medium.woff') format('woff'), url('../font/Gotham/Gotham-Medium.ttf') format('truetype'), url('../font/Gotham/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sepPartech {
  display: block;
  border-top: 1px dotted #ffffff;
  width: 100px;
  margin: 3% auto;
}
#partech section.intro {
  background: #000000;
}
#partech section.intro .page_container {
  text-align: center;
  top: 10%;
  width: 75%;
  min-width: 950px;
  max-width: 1450px;
}
#partech section.intro .page_container ul {
  margin: auto;
  font-size: 16px;
  font-size: 1em;
}
#partech section.intro .page_container ul li {
  width: -moz-calc(33.333333333333336%);
  width: -webkit-calc(33.333333333333336%);
  width: -ms-calc(33.333333333333336%);
  width: -khtml-calc(33.333333333333336%);
  width: -o-calc(33.333333333333336%);
  width: calc(33.333333333333336%);
  display: inline-block;
  font-family: 'Conv_Gotham-Book';
  color: #b2b2b1;
  vertical-align: top;
}
.lt-ie9 #partech section.intro .page_container ul li {
  display: inline;
  zoom: 1;
}
#partech section.intro .page_container ul li span {
  display: block;
  color: #ffffff;
  font-family: 'Conv_Gotham-Medium';
  text-transform: uppercase;
}
#partech section.intro .page_container h1 {
  width: 25%;
  max-width: 500px;
  margin: 8% auto 0 auto;
}
#partech section.intro .page_container h1 img {
  display: block;
  width: 100%;
}
#partech section.intro .page_container h1 span {
  display: none;
}
#partech section.intro .page_container p {
  color: #ffffff;
  font-family: 'Conv_Gotham-Book';
  font-size: 20px;
  font-size: 1.250em;
  line-height: 1.3em;
  width: 60%;
  min-width: 630px;
  margin: auto;
}
#partech section.intro .page_container a {
  display: inline-block;
  background: #e8f603;
  font-size: 14px;
  font-size: 0.875em;
  font-family: 'Conv_Gotham-Medium';
  color: #000000;
  text-transform: uppercase;
  padding: 10px 30px 6px 30px;
  margin: 40px auto 0 auto;
  -moz-border-radius: 17.5px;
  -webkit-border-radius: 17.5px;
  -ms-border-radius: 17.5px;
  -khtml-border-radius: 17.5px;
  border-radius: 17.5px;
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
}
#partech section.intro .page_container a:hover {
  background: #e6202f;
  color: #ffffff;
}
#partech section.intro .page_container .sepPartech {
  margin: 1% auto 5% auto;
}
#partech section.intro #partechCinemaDisplay {
  width: 90%;
  min-width: 650px;
  margin: auto;
  display: block;
  margin-top: 6%;
}
#partech section.theClient {
  background: #191919;
}
#partech section.theClient .page_container {
  top: 10%;
  width: 75%;
  min-width: 950px;
  max-width: 1450px;
}
#partech section.theClient .page_container h2 {
  font-family: 'Conv_Gotham-Medium';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-size: 2em;
}
#partech section.theClient .page_container h3 {
  font-family: 'Conv_Gotham-Book';
  text-transform: uppercase;
  text-align: center;
  color: #e8f603;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.3em;
}
#partech section.theClient .page_container p {
  line-height: 18px;
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75em;
  font-family: 'Conv_Gotham-Book';
  width: 40%;
  color: #b2b2b1;
}
.lt-ie9 #partech section.theClient .page_container p {
  display: inline;
  zoom: 1;
}
#partech section.theClient .page_container p:nth-of-type(1) {
  margin: 0 8% 0 2%;
}
#partech section.theClient .page_container p:nth-of-type(2) {
  margin: 0 2% 0 8%;
}
#partech section.theClient .page_container p span {
  color: #ffffff;
}
#partech section.theClient .page_container img {
  opacity: 0;
  display: block;
  margin: auto;
  margin-top: 20%;
  width: 25%;
  -moz-transition: all 1s 0s;
  -webkit-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -khtml-transition: all 1s 0s;
  transition: all 1s 0s;
}
#partech section.theClient.active img {
  margin-top: 4%;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.screenDrag {
  background: #000000;
}
#partech section.screenDrag .page_container {
  top: 10%;
}
#partech section.screenDrag .page_container h2 {
  font-family: 'Conv_Gotham-Medium';
  text-transform: uppercase;
  text-align: center;
  color: #e8f603;
  font-size: 20px;
  font-size: 1.250em;
}
#partech section.screenDrag .page_container p {
  text-align: center;
  line-height: 1.3em;
  font-size: 16px;
  font-size: 1em;
  font-family: 'Conv_Gotham-Book';
  width: 40%;
  max-width: 800px;
  min-width: 550px;
  color: #ffffff;
  margin: 1% auto 0 auto;
}
#partech section.screenDrag .page_container .toDrag {
  position: relative;
  height: 38px;
  margin: 2% auto 20px auto;
  width: 55%;
}
#partech section.screenDrag .page_container .toDrag .dragCursorPartech {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 26%;
  width: 38px;
  height: 38px;
  background: url('../img/partech/drag-cursor.png') no-repeat center center;
  -moz-transition: all 1s 0s;
  -webkit-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -khtml-transition: all 1s 0s;
  transition: all 1s 0s;
}
#partech section.screenDrag .page_container .toDrag .dragScreenArrow {
  display: block;
  padding-top: 31px;
  left: 0;
  width: 0;
  height: 7px;
  background: url('../img/partech/trait.png') repeat-x center center;
  -moz-transition: all 1.4s 0s;
  -webkit-transition: all 1.4s 0s;
  -ms-transition: all 1.4s 0s;
  -khtml-transition: all 1.4s 0s;
  transition: all 1.4s 0s;
}
#partech section.screenDrag .page_container .toDrag .dragScreenArrow .dragPoint {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 17px;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#partech section.screenDrag .page_container .toDrag .dragScreenArrow .dragArrow {
  opacity: 0;
  position: absolute;
  right: 2%;
  top: 16px;
  background: #ffffff;
  width: 7px;
  height: 7px;
  background: url('../img/partech/arrow.png') no-repeat center center;
  -moz-transition: all 0.5s 0s;
  -webkit-transition: all 0.5s 0s;
  -ms-transition: all 0.5s 0s;
  -khtml-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
}
#partech section.screenDrag .page_container .partech-screen {
  position: relative;
  margin: auto;
  width: 55%;
  overflow: hidden;
  opacity: 0;
  -moz-transition: all 1.4s 0s;
  -webkit-transition: all 1.4s 0s;
  -ms-transition: all 1.4s 0s;
  -khtml-transition: all 1.4s 0s;
  transition: all 1.4s 0s;
}
#partech section.screenDrag .page_container .partech-screen img:nth-of-type(1) {
  display: block;
  width: 100%;
}
#partech section.screenDrag .page_container .partech-screen img:nth-of-type(2) {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#partech section.screenDrag.active .page_container .toDrag .dragCursorPartech {
  opacity: 1;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -ms-transition-delay: 2s;
  transition-delay: 2s;
}
#partech section.screenDrag.active .page_container .toDrag .dragScreenArrow {
  width: 99.5%;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.screenDrag.active .page_container .toDrag .dragScreenArrow .dragArrow {
  opacity: 1;
  right: 0;
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  -ms-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
#partech section.screenDrag.active .page_container .partech-screen {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.sketch {
  background: #000000 url('../img/partech/dark-grid.png');
}
#partech section.sketch .page_container {
  -moz-transition: all 1s 0s;
  -webkit-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -khtml-transition: all 1s 0s;
  transition: all 1s 0s;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 80%;
  background: url('../img/partech/spad-rail-sketch.png') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  -khtml-background-size: contain;
  background-size: contain;
}
#partech section.sketch.active .page_container {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.mobile {
  background: #191919;
}
#partech section.mobile .page_container {
  top: 10%;
}
#partech section.mobile .page_container h2 {
  font-family: 'Conv_Gotham-Medium';
  text-transform: uppercase;
  text-align: center;
  color: #e8f603;
  font-size: 20px;
  font-size: 1.250em;
}
#partech section.mobile .page_container p {
  text-align: center;
  line-height: 1.3em;
  font-size: 16px;
  font-size: 1em;
  font-family: 'Conv_Gotham-Book';
  width: 40%;
  min-width: 550px;
  max-width: 800px;
  color: #ffffff;
  margin: 1% auto 0 auto;
}
#partech section.mobile .page_container .mobileScreen {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 3%;
  max-width: 2000px;
}
#partech section.mobile .page_container .mobileScreen #partech-iphone {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  z-index: 99;
  display: block;
}
#partech section.mobile .page_container .mobileScreen ul {
  width: 100%;
  padding-top: 7%;
}
#partech section.mobile .page_container .mobileScreen ul li {
  width: 20%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10%;
  -moz-transition: all 1s 0s;
  -webkit-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -khtml-transition: all 1s 0s;
  transition: all 1s 0s;
}
#partech section.mobile .page_container .mobileScreen ul li img {
  display: block;
  width: 100%;
  height: auto;
}
#partech section.mobile .page_container .mobileScreen ul li:nth-of-type(1) {
  z-index: 1;
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
#partech section.mobile .page_container .mobileScreen ul li:nth-of-type(2) {
  z-index: 2;
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.mobile .page_container .mobileScreen ul li:nth-of-type(3) {
  z-index: 3;
}
#partech section.mobile .page_container .mobileScreen ul li:nth-of-type(4) {
  z-index: 2;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.mobile .page_container .mobileScreen ul li:nth-of-type(5) {
  z-index: 1;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
#partech section.mobile.active .page_container .mobileScreen ul li {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
#partech section.mobile.active .page_container .mobileScreen ul li:nth-of-type(1) {
  left: 2%;
  margin: 0;
}
#partech section.mobile.active .page_container .mobileScreen ul li:nth-of-type(2) {
  left: 20%;
  margin: 0;
}
#partech section.mobile.active .page_container .mobileScreen ul li:nth-of-type(4) {
  left: 60%;
  margin: 0;
}
#partech section.mobile.active .page_container .mobileScreen ul li:nth-of-type(5) {
  left: 78%;
  margin: 0;
}
#partech section.thatsall {
  background: #191919;
}
#partech section.thatsall .page_container {
  top: 10%;
}
#partech section.thatsall .page_container h2 {
  font-family: 'Conv_Gotham-Medium';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-size: 1.250em;
}
#partech section.thatsall .page_container p {
  text-align: center;
  line-height: 1.3em;
  font-size: 16px;
  font-size: 1em;
  font-family: 'Conv_Gotham-Book';
  width: 40%;
  max-width: 800px;
  min-width: 550px;
  color: #b2b2b1;
  margin: 1% auto 0 auto;
}
#partech section.thatsall .page_container ul {
  width: 75%;
  margin: 4% auto;
}
#partech section.thatsall .page_container ul li {
  display: inline-block;
  width: 20%;
  height: auto;
  border: solid 12px #000000;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
}
.lt-ie9 #partech section.thatsall .page_container ul li {
  display: inline;
  zoom: 1;
}
#partech section.thatsall .page_container ul li:nth-of-type(1) {
  margin: 0 0 0 2.5%;
}
#partech section.thatsall .page_container ul li:nth-of-type(2) {
  margin: 0 5%;
}
#partech section.thatsall .page_container ul li:nth-of-type(3) {
  margin: 0 5% 0 0;
}
#partech section.thatsall .page_container ul li:nth-of-type(4) {
  margin: 0 2.5% 0 0;
}
#partech section.thatsall .page_container ul li img {
  width: 100%;
  display: block;
  opacity: 0;
  -moz-transition: all 1s 0s;
  -webkit-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -khtml-transition: all 1s 0s;
  transition: all 1s 0s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#partech section.thatsall footer {
  background: #000000;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5% 0;
  border-bottom: 8px solid #000000;
  font-family: 'Conv_Gotham-Book';
  display: block;
}
#partech section.thatsall footer p:nth-of-type(1) {
  color: #ffffff;
  font-size: 40px;
  font-size: 2.5em;
}
#partech section.thatsall footer p:nth-of-type(2) {
  color: #b2b2b1;
  font-size: 18px;
  font-size: 1.125em;
}
#partech section.thatsall.active ul li img {
  opacity: 1;
}
@font-face {
  font-family: 'PFDinDisplayProBlackRegular';
  src: url('../font/PFDIN/pfdindisplaypro-black-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-black-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProBlackItalic';
  src: url('../font/PFDIN/pfdindisplaypro-blackit-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-blackit-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-blackit-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-blackit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProBold';
  src: url('../font/PFDIN/pfdindisplaypro-bold-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-bold-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProBoldItalic';
  src: url('../font/PFDIN/pfdindisplaypro-boldital-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-boldital-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-boldital-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-boldital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProItalic';
  src: url('../font/PFDIN/pfdindisplaypro-italic-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-italic-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProLightRegular';
  src: url('../font/PFDIN/pfdindisplaypro-light-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-light-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProLightItalic';
  src: url('../font/PFDIN/pfdindisplaypro-lightital-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-lightital-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-lightital-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-lightital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProMediumRegular';
  src: url('../font/PFDIN/pfdindisplaypro-med-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-med-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-med-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProMediumItalic';
  src: url('../font/PFDIN/pfdindisplaypro-medital-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-medital-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-medital-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-medital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProRegular';
  src: url('../font/PFDIN/pfdindisplaypro-reg-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-reg-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProThinRegular';
  src: url('../font/PFDIN/pfdindisplaypro-thin-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-thin-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProThinItalic';
  src: url('../font/PFDIN/pfdindisplaypro-thinital-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-thinital-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-thinital-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-thinital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProExtraThinRg';
  src: url('../font/PFDIN/pfdindisplaypro-xthin-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-xthin-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-xthin-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-xthin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayProExtraThinIt';
  src: url('../font/PFDIN/pfdindisplaypro-xthinit-webfont.eot');
  src: url('../font/PFDIN/pfdindisplaypro-xthinit-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PFDIN/pfdindisplaypro-xthinit-webfont.woff') format('woff'), url('../font/PFDIN/pfdindisplaypro-xthinit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lavanderia-Regular';
  src: url('../font/lavanderia/lavanderiaregular.eot');
  src: url('../font/lavanderia/lavanderiaregular.eot?#iefix') format('embedded-opentype'), url('../font/lavanderia/lavanderiaregular.woff') format('woff'), url('../font/lavanderia/lavanderiaregular.ttf') format('truetype'), url('../font/lavanderia/lavanderiaregular.svg#lavanderiaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#socialCoke section.intro {
  background: #f0e2c7 url('../img/social-coke/BG-intro.png') center center no-repeat;
}
#socialCoke section.intro .page_container {
  text-align: center;
  top: 50%;
  width: 75%;
  min-width: 950px;
  max-width: 1450px;
}
#socialCoke section.intro .page_container ul {
  margin: auto;
  font-size: 18px;
  font-size: 1.125em;
}
#socialCoke section.intro .page_container ul li {
  width: -moz-calc(33.333333333333336%);
  width: -webkit-calc(33.333333333333336%);
  width: -ms-calc(33.333333333333336%);
  width: -khtml-calc(33.333333333333336%);
  width: -o-calc(33.333333333333336%);
  width: calc(33.333333333333336%);
  display: inline-block;
  font-family: 'PFDinDisplayProRegular';
  color: #231f20;
}
.lt-ie9 #socialCoke section.intro .page_container ul li {
  display: inline;
  zoom: 1;
}
#socialCoke section.intro .page_container ul li span {
  display: block;
  color: #231f20;
  font-family: 'PFDinDisplayProBold';
  text-transform: uppercase;
}
#socialCoke section.intro .page_container h1 {
  margin-top: 3%;
  text-indent: -9999px;
}
#socialCoke section.intro .page_container h1 img {
  display: block;
  width: 230px;
  margin: auto;
}
#socialCoke section.intro .page_container p {
  color: #231f20;
  font-family: 'PFDinDisplayProRegular';
  font-size: 16px;
  font-size: 1em;
  line-height: 22px;
  max-width: 710px;
  margin: 2% auto;
}
#socialCoke section.intro .page_container a {
  position: relative;
  display: block;
  width: 180px;
  height: 212px;
  margin: auto;
  text-align: center;
}
#socialCoke section.intro .page_container a img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: -6px;
}
#socialCoke section.intro .page_container a img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#socialCoke section.intro .page_container a:hover img {
  opacity: 0;
}
#socialCoke section.intro .page_container a:hover img:nth-of-type(2) {
  opacity: 1;
}
#socialCoke section.intro #goutte {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#socialCoke section.intro #goutte img {
  display: block;
  position: absolute;
  left: 50%;
}
#socialCoke section.intro #goutte img:nth-of-type(1) {
  top: -10%;
  margin-left: 5%;
  -moz-animation: goutte 4s 3s infinite linear;
  -o-animation: goutte 4s 3s infinite linear;
  -webkit-animation: goutte 4s 3s infinite linear;
  animation: goutte 4s 3s infinite linear;
}
#socialCoke section.intro #goutte img:nth-of-type(2) {
  top: -10%;
  margin-left: -17%;
  -moz-animation: goutte 3.6s 4.3s infinite linear;
  -o-animation: goutte 3.6s 4.3s infinite linear;
  -webkit-animation: goutte 3.6s 4.3s infinite linear;
  animation: goutte 3.6s 4.3s infinite linear;
}
#socialCoke section.intro #goutte img:nth-of-type(3) {
  top: -10%;
  margin-left: 10%;
  -moz-animation: goutte 4.4s 6s infinite linear;
  -o-animation: goutte 4.4s 6s infinite linear;
  -webkit-animation: goutte 4.4s 6s infinite linear;
  animation: goutte 4.4s 6s infinite linear;
}
#socialCoke section.intro #goutte img:nth-of-type(4) {
  top: -10%;
  margin-left: 22%;
  -moz-animation: goutte 3.8s 2.7s infinite linear;
  -o-animation: goutte 3.8s 2.7s infinite linear;
  -webkit-animation: goutte 3.8s 2.7s infinite linear;
  animation: goutte 3.8s 2.7s infinite linear;
}
#socialCoke section.intro #goutte img:nth-of-type(5) {
  top: -10%;
  margin-left: -12%;
  -moz-animation: goutte 3.2s 4.8s infinite linear;
  -o-animation: goutte 3.2s 4.8s infinite linear;
  -webkit-animation: goutte 3.2s 4.8s infinite linear;
  animation: goutte 3.2s 4.8s infinite linear;
}
@-moz-keyframes goutte {
  0% {
    top: -10%;
  }
  45% {
    top: 110%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes goutte {
  0% {
    top: -10%;
  }
  45% {
    top: 110%;
  }
  100% {
    top: 110%;
  }
}
@-o-keyframes goutte {
  0% {
    top: -10%;
  }
  45% {
    top: 110%;
  }
  100% {
    top: 110%;
  }
}
@keyframes goutte {
  0% {
    top: -10%;
  }
  45% {
    top: 110%;
  }
  100% {
    top: 110%;
  }
}
#socialCoke section.context {
  background: #231f20;
}
#socialCoke section.context .page_container {
  top: 10%;
  width: 75%;
  min-width: 950px;
  max-width: 1450px;
}
#socialCoke section.context .page_container h2 {
  font-family: 'Lavanderia-Regular';
  text-align: center;
  color: #f0e2c7;
  font-size: 50px;
  font-size: 3.125em;
}
#socialCoke section.context .page_container h3 {
  font-family: 'PFDinDisplayProRegular';
  text-align: center;
  color: #f0e2c7;
  font-size: 18px;
  font-size: 1.125em;
  line-height: 1.3em;
}
#socialCoke section.context .page_container p {
  line-height: 1.2em;
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875em;
  font-family: 'PFDinDisplayProRegular';
  width: 40%;
  color: #f0e2c7;
}
.lt-ie9 #socialCoke section.context .page_container p {
  display: inline;
  zoom: 1;
}
#socialCoke section.context .page_container p:nth-of-type(1) {
  margin: 4% 8% 0 2%;
}
#socialCoke section.context .page_container p:nth-of-type(2) {
  margin: 4% 2% 0 8%;
}
#socialCoke section.context .page_container img {
  display: block;
  margin: auto;
  width: 35%;
  opacity: 0;
  margin-top: 20%;
  -moz-transition: all 1.4s 0s;
  -webkit-transition: all 1.4s 0s;
  -ms-transition: all 1.4s 0s;
  -khtml-transition: all 1.4s 0s;
  transition: all 1.4s 0s;
}
#socialCoke section.context.active .page_container img {
  opacity: 1;
  margin-top: 0;
}
#socialCoke section.context2 {
  background: #f0e2c7;
}
#socialCoke section.context2 .page_container {
  top: 10%;
  width: 950px;
}
#socialCoke section.context2 .page_container h2 {
  text-indent: -9999px;
}
#socialCoke section.context2 .page_container h2 img {
  display: block;
  width: 20%;
  margin: auto;
}
#socialCoke section.context2 .page_container ul {
  margin-top: 4%;
  text-align: center;
}
#socialCoke section.context2 .page_container ul li {
  line-height: 1.3em;
  font-size: 16px;
  font-size: 1em;
  font-family: 'PFDinDisplayProRegular';
  color: #231f20;
}
#socialCoke section.context2 .page_container p {
  text-align: center;
  margin: auto;
  margin-top: 6%;
  line-height: 1.2em;
  font-size: 14px;
  font-size: 0.875em;
  font-family: 'PFDinDisplayProRegular';
  color: #231f20;
  width: 400px;
}
#socialCoke section.context2 .page_container p span {
  display: block;
  font-family: 'Lavanderia-Regular';
  font-size: 35px;
  font-size: 2.188em;
  margin-bottom: 35px;
}
#socialCoke section.context2 .page_container p b {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'PFDinDisplayProMediumRegular';
}
.partech {
  background: #111111 url('../img/partech/partech-bg-mini.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#partech-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -192px;
  color: #b59663;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#partech-content h1 span {
  display: none;
}
#partech-content h1 img {
  display: block;
  height: 80px;
  margin: auto;
}
#partech-content p {
  font-size: 13px;
  font-size: 0.813em;
  line-height: 20px;
  margin: 30px auto 20px auto;
  position: relative;
}
#partech-content a {
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  position: absolute;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border: 1px dotted #b59663;
  left: 50%;
  margin-left: -107px;
  width: 212px;
  height: 38px;
  clip: rect(0, 214px, 40px, 0);
}
#partech-content a span:nth-of-type(1) {
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  margin-top: -9px;
  color: #b59663;
}
#partech-content a span:nth-of-type(2) {
  -moz-transition: all 0.4s 0s;
  -webkit-transition: all 0.4s 0s;
  -ms-transition: all 0.4s 0s;
  -khtml-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
  position: absolute;
  display: block;
  width: 100%;
  bottom: -16px;
  color: #33333b;
  opacity: 0;
}
#partech-content a:hover {
  background: #b59663;
  border: 1px dotted #111111;
}
#partech-content a:hover span:nth-of-type(1) {
  top: -16px;
  margin-top: 0;
  opacity: 0;
}
#partech-content a:hover span:nth-of-type(2) {
  bottom: 50%;
  margin-bottom: -10px;
  opacity: 1;
}
