@import "helper.less";

body, html { min-width:950px; height:auto !important; .fontSize16(); background:@colorBlack; margin: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; transition: opacity 400ms; font-family: Helvetica, Arial, sans-serif; .fontRegular(); }
html { height: 100%; }

.userSelect { overflow:hidden; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.dragCursor { 
	&:hover { cursor:url('../img/identity/drag.png') 20 11, move; }
	&:active { cursor:url('../img/identity/drag-active.png') 20 11, move; }
}

.border { .transition(1.2s); }

#borderTop { z-index:9999; position:fixed; height:8px; background:@colorGold; }
#borderBottom { z-index:9999; position:fixed; height:8px; background:@colorGold; }
#borderLeft { z-index:9999; position:fixed; width:8px; background:@colorGold; }
#borderRight { z-index:9999; position:fixed; width:8px; background:@colorGold; }

#borderTop.close { top:20px; left:20px; right:20px; }
#borderBottom.close { bottom:20px; left:20px; right:20px; }
#borderLeft.close { top:20px; left:20px; bottom:20px; }
#borderRight.close { top:20px; right:20px; bottom:20px; }
#borderTop.open { top:0; left:0; right:0; }
#borderBottom.open { bottom:0; left:0; right:0; }
#borderLeft.open { top:0; left:0; bottom:0; }
#borderRight.open { top:0; right:0; bottom:0; }
#borderTop.openMenu { top:95px; left:20px; right:20px; }
#borderBottom.openMenu { bottom:-75px; left:20px; right:20px; }
#borderLeft.openMenu { top:95px; left:20px; bottom:-75px; }
#borderRight.openMenu { top:95px; right:20px; bottom:-75px; }

.closeLayout{position:fixed; top:0; left:0; width:100%; height:0%; background: @colorGold; z-index:1000; opacity:0;}

.wave1 { z-index:9999; position:absolute; top:48px; right:48px; width:22px;
	img { display:block; width:100%; }
}
.wave2 { z-index:9999; position:absolute; bottom:48px; left:48px; width:22px;
	img { display:block; width:100%; }
}

.button-menu { position:fixed; z-index:9999; left:50%; .transition(1.2s); margin-left:-20px; text-align:center; 
	a { position:relative; .rotateKit(45deg); .transition(0.4s); color:@colorGold; display:block; width:36px; height:36px; border:solid 2px rgba(181,150,99,0.3);
		&:hover {  border:solid 2px @colorGold; }
		svg:nth-of-type(1) { position:absolute; .rotateKit(-45deg); left:50%; top:50%; margin-left:-9px; margin-top:-3.5px; }
		svg:nth-of-type(2) { position:absolute; .rotateKit(-45deg); left:50%; top:50%; margin-left:-6.717px; margin-top:-6.717px; }
	}
}

.button-menu.open { top:58px; 
	svg:nth-of-type(2) { opacity:0; }
}

.button-menu.openMenu { top:133px; 
	svg:nth-of-type(1) { opacity:0; }
}

.button-menu.close { top:38px;
	svg:nth-of-type(1) { opacity:0; }
}

#resize { display:none; position:fixed; top:0; left:0; bottom:0; right:0; z-index:99999; background:@colorGold; text-align:center;
	p { position:absolute; width:100%; margin-top:-30px; top:50%; .fontSize30(); .textUppercase(); }
}

.pace{ position:absolute; top:50%; left:50%; margin-left:-125px; width:250px; background:@colorWhite; z-index:999999;
	.pace-progress { background:@colorBlack; z-index:2000; height: 1px; .transition(1s); 
	}
}

.pace-inactive { display: none; }

#loader { position:fixed; top:0; left:0; bottom:0; right:0; z-index:99999; background:@colorGold; text-align:center; 
	#load { background: url('../img/identity/logo-kevin-lagier-black.svg') no-repeat center top; background-size: 100%; width:148px; height:120px; position:absolute; left:50%; top:50%; margin-left:-74px; margin-top:-200px;
		p { position:absolute; bottom:-43px; .textUppercase(); color:@colorBlack; .fontSize14(); width:100%; }
	}
	#tuto { position:absolute; margin-top:-50px; top:50%; left:0; right:0; height:93px; 
		p { margin-top:10px; text-transform:uppercase; .fontSize14(); }
		#dragging { left:50%; position:absolute; clip:rect(0,149px,95px,0); margin-left:-225px;
			#dragCursorTuto { top:28px; left:55px; width:39px; height:23px; position:absolute; background:url('../img/identity/drag-tuto.png') center top no-repeat; }
			img { display:block; margin:auto; }
			#dragAnim { position:absolute; height:51px; width:398px; top:14px;
				span { float:left; display:block; margin-right:10px; width:90px; height:49px; border:1px solid @colorBlack; 
					&:last-child { margin:0; }
				}
			}
		}
		#keyboard { left:50%; top:15px; margin-left:100px; position:absolute; margin-left:40px;
			span { .inline-block; width:20px; height:20px; border:1px solid @colorBlack;
			}
		}
	}
}


.pace-running{
	#load { display: block;  }
	#tuto{opacity: 0;}
}

.pace-done{
	#load{display: none; }
	#tuto{opacity: 1; .transition(0.5s); }
}



.pace-running{
	#load { display: block;  }
	#tuto{opacity: 0;}
}

.pace-done{
	#load{display: none; }
	#tuto { opacity:1; .transition(1s);
		#dragging { 
			#dragCursorTuto { -webkit-animation: cursortuto 15s infinite linear; -moz-animation: cursortuto 15s infinite linear; -o-animation: cursortuto 15s infinite linear; animation: cursortuto 15s infinite linear; }
			#dragAnim { -webkit-animation: browers 15s infinite linear; -moz-animation: browers 15s infinite linear; -o-animation: browers 15s infinite linear; animation: browers 15s infinite linear;
			}
		}
		#keyboard { 
			span {
				&:nth-of-type(1) { -webkit-animation: keyboard 4s 1s infinite linear; -moz-animation: keyboard 4s 1s infinite linear; -o-animation: keyboard 4s 1s infinite linear; animation: keyboard 4s 1s infinite linear;}
				&:nth-of-type(2) { -webkit-animation: keyboard 4s 2s infinite linear; -moz-animation: keyboard 4s 2s infinite linear; -o-animation: keyboard 4s 2s infinite linear; animation: keyboard 4s 2s infinite linear; }
				&:nth-of-type(3) { -webkit-animation: keyboard 4s 4s infinite linear; -moz-animation: keyboard 4s 4s infinite linear; -o-animation: keyboard 4s 4s infinite linear; animation: keyboard 4s 4s infinite linear; }
				&:nth-of-type(4) { -webkit-animation: keyboard 4s 3s infinite linear; -moz-animation: keyboard 4s 3s infinite linear; -o-animation: keyboard 4s 3s infinite linear; animation: keyboard 4s 3s infinite linear; }
			}
		}
	}
}

@-webkit-keyframes load { 0% { opacity:1; } 99% { opacity:0; } 100% { opacity:0; display:none; } }
  
@-webkit-keyframes tuto-load { 0% { opacity:0; } 10% { opacity:1; } 90% { opacity:1; }  100% { opacity:0; } }
@-moz-keyframes tuto-load { 0% { opacity:0; } 10% { opacity:1; } 90% { opacity:1; }  100% { opacity:0; } }
@-o-keyframes tuto-load { 0% { opacity:0; } 10% { opacity:1; } 90% { opacity:1; }  100% { opacity:0; } }
@keyframes tuto-load { 0% { opacity:0; } 10% { opacity:1; } 90% { opacity:1; }  100% { opacity:0; } }

@-webkit-keyframes browers { 0% { left:29px; } 12% { left:29px; } 15% { left:-73px; } 27% { left:-73px; } 30% { left:-175px; } 42% { left:-175px; } 45% { left:-277px; } 57% { left:-277px; } 60% { left:-175px; } 72% { left:-175px; } 75% { left:-73px; } 87% { left:-73px; } 90% { left:29px; } 100% { left:29px; } }
@-moz-keyframes browers { 0% { left:29px; } 12% { left:29px; } 15% { left:-73px; } 27% { left:-73px; } 30% { left:-175px; } 42% { left:-175px; } 45% { left:-277px; } 57% { left:-277px; } 60% { left:-175px; } 72% { left:-175px; } 75% { left:-73px; } 87% { left:-73px; } 90% { left:29px; } 100% { left:29px; } }
@-o-keyframes browers { 0% { left:29px; } 12% { left:29px; } 15% { left:-73px; } 27% { left:-73px; } 30% { left:-175px; } 42% { left:-175px; } 45% { left:-277px; } 57% { left:-277px; } 60% { left:-175px; } 72% { left:-175px; } 75% { left:-73px; } 87% { left:-73px; } 90% { left:29px; } 100% { left:29px; } }
@keyframes browers { 0% { left:29px; } 12% { left:29px; } 15% { left:-73px; } 27% { left:-73px; } 30% { left:-175px; } 42% { left:-175px; } 45% { left:-277px; } 57% { left:-277px; } 60% { left:-175px; } 72% { left:-175px; } 75% { left:-73px; } 87% { left:-73px; } 90% { left:29px; } 100% { left:29px; } }

@-webkit-keyframes cursortuto { 0% { left:55px; } 10% { left:55px; } 11% { left:65px; } 12% { left:55px; } 25% { left:55px; } 26% { left:65px; } 27% { left:55px; } 40% { left:55px; } 41% { left:65px; } 42% { left:55px; } 55% { left:55px; } 56% { left:45px; } 57% { left:55px; } 	70% { left:55px; } 71% { left:45px; } 72% { left:55px; } 85% { left:55px; } 86% { left:45px; } 87% { left:55px; } 100% { left:55px; } }
@-moz-keyframes cursortuto { 0% { left:55px; } 10% { left:55px; } 11% { left:65px; } 12% { left:55px; } 25% { left:55px; } 26% { left:65px; } 27% { left:55px; } 40% { left:55px; } 41% { left:65px; } 42% { left:55px; } 55% { left:55px; } 56% { left:45px; } 57% { left:55px; } 	70% { left:55px; } 71% { left:45px; } 72% { left:55px; } 85% { left:55px; } 86% { left:45px; } 87% { left:55px; } 100% { left:55px; } }
@-o-keyframes cursortuto { 0% { left:55px; } 10% { left:55px; } 11% { left:65px; } 12% { left:55px; } 25% { left:55px; } 26% { left:65px; } 27% { left:55px; } 40% { left:55px; } 41% { left:65px; } 42% { left:55px; } 55% { left:55px; } 56% { left:45px; } 57% { left:55px; } 	70% { left:55px; } 71% { left:45px; } 72% { left:55px; } 85% { left:55px; } 86% { left:45px; } 87% { left:55px; } 100% { left:55px; } }
@keyframes cursortuto { 0% { left:55px; } 10% { left:55px; } 11% { left:65px; } 12% { left:55px; } 25% { left:55px; } 26% { left:65px; } 27% { left:55px; } 40% { left:55px; } 41% { left:65px; } 42% { left:55px; } 55% { left:55px; } 56% { left:45px; } 57% { left:55px; } 	70% { left:55px; } 71% { left:45px; } 72% { left:55px; } 85% { left:55px; } 86% { left:45px; } 87% { left:55px; } 100% { left:55px; } }

@-webkit-keyframes keyboard { 0% { border:1px solid @colorBlack; } 1% { border:1px solid @colorBlack; }2% { border:1px solid @colorWhite; } 10% { border:1px solid @colorWhite; } 11% { border:1px solid @colorBlack; } 100% { border:1px solid @colorBlack; } }
@-moz-keyframes keyboard { 0% { border:1px solid @colorBlack; } 1% { border:1px solid @colorBlack; }2% { border:1px solid @colorWhite; } 10% { border:1px solid @colorWhite; } 11% { border:1px solid @colorBlack; } 100% { border:1px solid @colorBlack; } }
@-o-keyframes keyboard { 0% { border:1px solid @colorBlack; } 1% { border:1px solid @colorBlack; }2% { border:1px solid @colorWhite; } 10% { border:1px solid @colorWhite; } 11% { border:1px solid @colorBlack; } 100% { border:1px solid @colorBlack; } }
@keyframes keyboard { 0% { border:1px solid @colorBlack; } 1% { border:1px solid @colorBlack; }2% { border:1px solid @colorWhite; } 10% { border:1px solid @colorWhite; } 11% { border:1px solid @colorBlack; } 100% { border:1px solid @colorBlack; } }


section { min-width:980px; margin:0; border:none;
	.page-content { width:950px; margin:auto; }
}

.pagination { position:fixed; right:38px; top:50%; z-index:99; list-style: none; margin:0; padding:0; 
	li { text-align: center; padding:0; 
			a { padding:15px 0; width: 4px; height: 4px; display:block; 
			&:before{ content: ''; position: absolute; width: 4px; height: 4px; background:@colorGold; .opacity(0.3); border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
			&.active:before { .opacity(1); }
			&:hover:before { .opacity(1); }
		}
	}
	.loaded { 
		&:before { -webkit-animation: lightPagination 0.8s 0 linear; -moz-animation: lightPagination 0.8s 0 linear; -o-animation: lightPagination 0.8s 0 linear; animation: lightPagination 0.8s 0 linear; }
	}
}

.pagination.tdf { margin-top:-103px; }
.pagination.theWhole { margin-top:-86px; }
.pagination.socialCoke { margin-top:-120px; }
.pagination.partech { margin-top:-103px; }

@-webkit-keyframes lightPagination { 0% { -webkit-box-shadow: 0px 0px 0px 0px @colorGold; } 50% { -webkit-box-shadow: 0px 0px 20px 4px @colorGold; } 100% { -webkit-box-shadow: 0px 0px 0px 0px @colorGold; } }
@-moz-keyframes lightPagination { 0% { -moz-box-shadow: 0px 0px 0px 0px @colorGold; } 50% { -moz-box-shadow: 0px 0px 20px 4px @colorGold; } 100% { -moz-box-shadow: 0px 0px 0px 0px @colorGold; } }
@-o-keyframes lightPagination { 0% { -o-box-shadow: 0px 0px 0px 0px @colorGold; } 50% { -o-box-shadow: 0px 0px 20px 4px @colorGold; } 100% { -o-box-shadow: 0px 0px 0px 0px @colorGold; } }
@keyframes lightPagination { 0% { box-shadow: 0px 0px 0px 0px @colorGold; } 50% { box-shadow: 0px 0px 20px 4px @colorGold; } 100% { box-shadow: 0px 0px 0px 0px @colorGold; } }



menu { position:fixed; top:-75px; left:0; right:0; min-width:980px; z-index:9999; padding:0; margin:0; border:none; border-bottom:1px solid @colorGold; .transition(1.2s);
	nav {
		ul { display:block; background:@colorWhite; 
			li { .inline-block(); .calcWidthKit(100%/6); .boxSizin(border-box); text-align:center; border-right:1px solid @colorGold;
				&:last-child { border:none; }
				a { position:relative; .transition(0.4s); display:block; padding:30px 0; .textUppercase(); .fontSize12(); color:@colorGold; 
					&:hover, &.active { color:@colorBlack; background:@colorGold; 
						&:before { width:49px; margin-left:-24.5px; border-bottom:1px dotted @colorBlack; }
						&:after { border:1px solid @colorBlack; .rotateKit(135deg); }
					}
					&:before { .transition(0.4s); content:''; display:block; position:absolute; margin-top:-15px; left:50%; margin-left:-12.5px; width:25px; border-bottom:1px dotted @colorGold; }
					&:after { .transition(0.4s); content:''; display:block; position:absolute; margin-top:10px; left:50%; margin-left:-4px; width:8px; height:8px; .rotateKit(45deg); .boxSizin(border-box); border:1px solid @colorGold; }
				}
			}
		}
	}
}
menu.openMenu { top:0; }

@import "project.less";

@import "partech.less";

@import "socialCoke.less";

@import "100ansdetour.less";

@import "theWhole.less";




