.projects-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.project {
  width: 300px;
  height: 300px;
}
._home {
  background: white;
}
._partech {
  background: blue;
}
._social-coke {
  background: red;
}
._100ansdetour {
  background: yellow;
}
