/**************** Reset ****************/
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
hr {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
fieldset,
img,
hr {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'mostra-nuova-bold';
  src: url('font/mostra-nuova/mostra_nuova_bold-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_bold-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_bold-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_bold-webfont.svg#mostra_nuovabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-light';
  src: url('font/mostra-nuova/mostra_nuova_light-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_light-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_light-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_light-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_light-webfont.svg#mostra_nuovalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-regular';
  src: url('font/mostra-nuova/mostra_nuova_regular-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_regular-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_regular-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_regular-webfont.svg#mostra_nuova_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-thin';
  src: url('font/mostra-nuova/mostra_nuova_thin-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_thin-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_thin-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_thin-webfont.svg#mostra_nuovathin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-alta-light';
  src: url('font/mostra-nuova/mostra_nuova_alta_light-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_alta_light-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_light-webfont.svg#mostra_nuova_altalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-alta-regular';
  src: url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_regular-webfont.svg#mostra_nuova_alta_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mostra-nuova-alta-thin';
  src: url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.eot');
  src: url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.woff') format('woff'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.ttf') format('truetype'), url('font/mostra-nuova/mostra_nuova_alta_thin-webfont.svg#mostra_nuova_altathin') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: #fcfcfc;
  color: #111111;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'mostra-nuova-light';
}
#menu {
  background: #fcfcfc;
}
#menu div {
  border-bottom: solid 1px #eeeeee;
}
#menu div a {
  color: #111111;
}
#menu div a h1 {
  letter-spacing: 0.16em;
}
#menu div nav {
  font-family: 'mostra-nuova-regular';
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
#menu div nav ul li a.selected:after {
  content: '';
  display: block;
  background: #111111;
}
@media screen and (max-width: 640px) {
  #menu {
    padding: 0px 7%;
  }
  #menu div {
    text-align: center;
    padding: 15px 0;
  }
  #menu div a h1 {
    font-size: 20px;
    font-size: 1.250rem;
  }
  #menu div nav {
    display: block;
    text-align: center;
  }
  #menu div nav ul li {
    font-size: 12px;
    font-size: 0.75rem;
    display: inline-block;
    margin: 15px 10px 0 10px;
  }
  #menu div nav ul li a.selected:after {
    margin: 2px auto;
    width: 100%;
    height: 2px;
  }
}
@media screen and (min-width: 641px) {
  #menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2.5396%;
  }
  #menu div {
    position: relative;
    height: 99px;
  }
  #menu div a h1 {
    float: left;
    position: absolute;
    margin-left: 2.25%;
    font-size: 28px;
    font-size: 1.750rem;
    letter-spacing: 0.16em;
    margin-top: 34px;
  }
  #menu div nav {
    float: right;
    margin-right: 2.25%;
    font-size: 16px;
    font-size: 1rem;
    font-family: 'mostra-nuova-regular';
  }
  #menu div nav li {
    float: left;
  }
  #menu div nav li a {
    position: relative;
    display: block;
    padding: 41px 25px 39px 25px;
  }
  #menu div nav li a.selected:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
  }
  #menu div nav li a.notSelected:hover {
    text-decoration: underline;
  }
}
#about {
  margin-top: 189px;
  background: #eeeeee;
}
#about article {
  display: inline-block;
  width: 33.3%;
  background: #fcfcfc;
  text-align: center;
}
#about article:nth-of-type(2) {
  margin: 0 0.05%;
}
#about article h1 {
  font-size: 24px;
  font-size: 1.500rem;
}
#about article h1 span {
  font-family: 'mostra-nuova-alta-light';
}
#about article h1 em {
  font-family: 'mostra-nuova-regular';
  text-transform: uppercase;
}
#about article h1 em span {
  font-family: 'mostra-nuova-alta-regular';
  text-transform: uppercase;
}
#about article h2 {
  font-family: 'mostra-nuova-bold';
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 5px auto 10px auto;
}
#about article p {
  margin: 0 13%;
}
