<div class="" id="homeVideo" style='z-index:-1; position:relative;'>
	<video style='z-index:-1;margin-top:-150px; width:100%;' preload="auto" autoplay="autoplay" loop="loop" onended="loopVideo()">
    	<source src="public/video/video.mp4" />
	</video>
</div>
<div id="navigation">
	<div id="userMouseOrKeyboard"><img src="public/img/other/mouse-or-keyboard.svg" alt="Use Mouse or Keyboard"/></div>	
	<nav >
		<ul>
			<li><a href="#theWholeWork"></a></li><!--
			!--><li><a href="#socialCokeWork"></a></li><!--
			!--><li><a class="activeWorkNav" href="#partechWork"></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li>
		</ul>
	</nav>
</div>