<div id="navigation">
	<div id="userMouseOrKeyboard"><img src="public/img/other/mouse-or-keyboard.svg" alt="Use Mouse or Keyboard"/></div>	
	<nav >
		<ul>
			<li><a href="#theWholeWork"></a></li><!--
			!--><li><a href="#socialCokeWork"></a></li><!--
			!--><li><a class="activeWorkNav" href="#partechWork"></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li><!--
			!--><li><a href=""></a></li>
		</ul>
	</nav>
</div>
<div id="nav-dock"> 
	<a id="prev" href="#"><span>... This is some things I've worked on</span></a> 
	<a id="next" href="#"><span>I'm a Webdesigner and ...</span></a>
</div>

<section id="work" >
	<div class="activeWork post" id="homeVideo">
<!-- 		<video preload="auto" autoplay="autoplay" loop="loop" onended="loopVideo()">
	    	<source src="public/video/video.mp4" />
		</video> -->
	</div>
	<article class="post" id="theWholeWork">
		<a href="work/the-whole" class="scrolltoanchor">
			<!--<img class="backgroundWork" src="public/img/work/the-whole/the-whole-work.png" alt="The Whole"/>!-->	
 			<div id="shadow-the-whole"></div>
 		 	<div id="video-the-whole" >
<!-- 			<video preload="auto" autoplay="autoplay" loop="loop" >
		    	<source src="public/video/the-whole.mp4" />
			</video>  -->
		</div>
		</a>
	</article>
	<article class="post" id="socialCokeWork">
		<a href="work/social-coke" class="scrolltoanchor">
			<div id="goutte-social-coke">
				<img class="goutte1" src="public/img/work/social-coke/goutte1-social-coke-news.png" alt="" />	
				<img class="goutte2" src="public/img/work/social-coke/goutte2-social-coke-news.png" alt="" />	
				<img class="goutte3" src="public/img/work/social-coke/goutte3-social-coke-news.png" alt="" />	
				<img class="goutte4" src="public/img/work/social-coke/goutte4-social-coke-news.png" alt="" />
				<img class="goutte5" src="public/img/work/social-coke/goutte5-social-coke-news.png" alt="" />	
			</div>
			<img class="oiseau-social-coke" src="public/img/work/social-coke/oiseau-social-coke-news.png" alt="" />	
			<img class="tweet-social-coke" src="public/img/work/social-coke/tweet-social-coke-news.png" alt="" />	
			<img class="bonhomme-social-coke" src="public/img/work/social-coke/bonhomme-social-coke-news.png" alt="" />	
			<img class="poisson-social-coke" src="public/img/work/social-coke/poisson-social-coke-news.png" alt="" />	
			<img class="drink-social-coke" src="public/img/work/social-coke/drink-social-coke-news.png" alt="" />	
			<img class="love-social-coke" src="public/img/work/social-coke/love-social-coke-news.png" alt="" />	
			<img class="hello-social-coke" src="public/img/work/social-coke/hello-social-coke-news.png" alt="" />	
			<img class="point1-social-coke" src="public/img/work/social-coke/point1-social-coke-news.png" alt="" />	
			<img class="point2-social-coke" src="public/img/work/social-coke/point2-social-coke-news.png" alt="" />	
			<img class="point3-social-coke" src="public/img/work/social-coke/point3-social-coke-news.png" alt="" />	
			<img class="point4-social-coke" src="public/img/work/social-coke/point4-social-coke-news.png" alt="" />	
			<img class="point5-social-coke" src="public/img/work/social-coke/point5-social-coke-news.png" alt="" />	
			<img class="point6-social-coke" src="public/img/work/social-coke/point6-social-coke-news.png" alt="" />
			<img class="backgroundWork" src="public/img/work/social-coke/social-coke-work.png" alt="Social Coke"/>	
		</a>
	</article>
	<article class="post" id="partechWork">
		<a href="work/partech" class="scrolltoanchor">
			<img class="backgroundWork" src="public/img/work/partech/partech-work.png" alt="Partech"/>	
		</a>
	</article>	
	<article class="post" id="waflWork">
		<a href="work/wafl" class="scrolltoanchor">
			<div class="unactiveWork"></div>
			<img id="waflLogoWork" src="public/img/work/wafl/wafl-logo-work.png" alt="Wafl"/>	
		</a>
	</article>	
	<div class="post"></div>
</section>
<!-- <script type="text/javascript" src="public/js/work.js"></script> -->