#work {
  position: relative;
  overflow: hidden;
}
#work article {
  position: relative;
  width: 100%;
  margin: auto;
}
#work #the-whole a {
  background: #1c232e url(../public/img/the-whole/the-whole-news.png) center center no-repeat;
}
@media screen and (max-width: 640px) {
  
}
@media screen and (min-width: 641px) {
  
}
