<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kévin Lagier</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="Kévin LAGIER" />
    <meta name="keywords" content="Kévin LAGIER, portfolio, web, design, Hetic, graphic design, webdesign, websites, communication, project management, ergonomics, UX, responsive, digital" />
    <meta name="description" content="Personal portfolio Kévin LAGIER, French Graphic Designer From Annecy, student at Hetic in Paris" />   
 
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/identity/favicon.png" />

    <link rel="stylesheet" href="../assets/css/soSteezy.css" type="text/css" media="screen"  />    
</head>

<body>

<div id="resize">
    <p>
        Please<br/>resize your browser
    </p>
</div>

<div id='borderTop' class="open"></div>
<div id='borderBottom' class="open"></div>
<div id='borderLeft' class="open"></div>
<div id='borderRight' class="open"></div>

<div style="display:none; z-index:99; position:fixed; top:0; left:0; right:0; text-align:center;">
    <img src='../assets/img/grid.png'>
</div>


<!-- <nav class="button-close">
    <a href="#">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14.849px" height="14.849px" viewBox="0 0 14.849 14.849" enable-background="new 0 0 14.849 14.849" xml:space="preserve">
             <rect x="-2.575" y="6.925" transform="matrix(0.7071 0.7071 -0.7071 0.7071 7.4246 -3.0754)" fill="#B59663" width="20" height="1"/>
            <rect x="-2.575" y="6.925" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 17.9246 7.4246)" fill="#B59663" width="20" height="1"/>
        </svg>
    </a>
</nav>
 -->

<section id='socialCoke'>
    <article id='socialCoke-introduction'>
        <div class="page-content">
            <ul>
                <li>
                    <span>Date :</span>
                    Decembre 2012
                </li><!--
                !--><li>
                    <span>Client :</span>
                    Coca Cola
                </li><!--
                !--><li>
                    <span>Role :</span>
                    Design - Intégration
                </li>
            </ul>
            <h1>
                Social Coke
                <img src='../assets/img/social-coke/social-coke-logo.svg' alt='Social Coke Logo'>
            </h1>
            <p>
                Social Coke est une (fausse) campagne digitale à l’échelle internationale pour la marque Coca Cola, basée sur un concept innovant de site web collaboratif avec Twitter.
                Le site plonge ses internautes dans une expérience riche, captivante, amusante où ils pourront découvrir différents modules à base de jeux ou de contenus dynamiques.
            </p>
            <a href='http://lagier-kevin.com/social-coke/' target='_blank'>                    
                <img src='../assets/img/social-coke/social-coke-link.svg' alt='Social Coke Link'>
                <img src='../assets/img/social-coke/social-coke-link-hover.svg' alt='Social Coke Link hover'>
            </a>
        </div>
        <img class='goutte1' src='../assets/img/social-coke/goutte1.png' alt=''>
        <img class='goutte2' src='../assets/img/social-coke/goutte2.png' alt=''>
        <img class='goutte3' src='../assets/img/social-coke/goutte3.png' alt=''>
        <img class='goutte4' src='../assets/img/social-coke/goutte4.png' alt=''>
        <img class='goutte5' src='../assets/img/social-coke/goutte5.png' alt=''>
    </article>

    <article id='socialCoke-context'>
        <img id='cloud1' src='../assets/img/social-coke/cloud-2.svg' alt=''>
        <img id='cloud2' src='../assets/img/social-coke/cloud.svg' alt=''>
        <img id='cloud3' src='../assets/img/social-coke/cloud-3.svg' alt=''>
        <img id='cloud4' src='../assets/img/social-coke/cloud-4.svg' alt=''>
        <div class="page-content">
            <h2>The Context</h2>
            <h3>Coca Cola, une marque active et créative</h3>
            <p>
                Au fils des années l’entreprise Coca Cola a façonné son image et sa notoriété à grand coup de campagnes publicitaires de grande ampleur, marquantes par leur originalité et par la qualité des réalisations.<br/>
                Au fils des siècles la marque a par ailleurs souvent fait appel à des artistes et designers de renom pour réaliser des concepts visuels encore gravés dans les esprits.
            </p><!--
            !--><p>
                Aujourd’hui Coca Cola cherche à poursuivre cette tradition de campagnes innovantes et créatives en prenant en compte les nouveaux enjeux de 2012 et en particulier le canal internet.<br/>
                La marque cherche en particulier à s’adresser à une cible jeune, sensible aux innovations digitales, pour renforcer sa notoriété et son image de marque innovante.                
            </p>
            <img id='coca-cola-logo' src='../assets/img/social-coke/coca-cola.svg' alt='Coca Cola logo'>   
             <p>
                <em>Une marque active et créative en terme de campagne de communication :</em>
                <b>•</b><!-- !--><span>Des thèmes récurrents dans la communication Coca Cola : l’émerveillement, le rêve, le merveilleux</span><br/>
                <b>•</b><!-- !--><span>Un lien fort entre la marque (campagnes, packaging, logo) et l’art</span><br/>
                <b>•</b><!-- !--><span>Une marque qui s’adresse à une cible plutôt jeune, par conséquent sensible au digital et à l’innovation de manière générale</span><br/>
            </p><!--
            !--><p>
                <em>Image :</em>
                Entretenir et renforcer l’image d’une marque jeune et innovante, proche des milieux artistiques et active dans le domaine du digital.
                <em>Notoriété :</em>
                Entretenir la notoriété de la marque sur les réseaux sociaux et en particulier sur Twitter.    
           </p>     
        </div>
    </article>

    <article id='socialCoke-idea'>
        <div class="page-content">
            <h2>The Idea</h2>
            <h3>Campagne digitale pour Coca Cola</h3>    
            <p>
                Le site propose aux internautes de découvrir un vaste univers très illustré. Au cœur de cet univers se trouve une bouteille dont les formes se dessinent peu à peu avec les noms des internautes qui tweet avec le # de la campagne (#socialcoke). Le but premier de cette page est donc d’inciter les internautes à parler de la marque. Ils ont par ailleurs la possibilité de le faire directement depuis la page d’accueil.
            </p>
            <a href='#'>
                <img src='../assets/img/social-coke/btn-tweet.svg' alt=''>
                <img src='../assets/img/social-coke/btn-tweet-hover.svg' alt=''>
            </a>
    </article>

    <article id='socialCoke-interest'>
        <div class="page-content">
            <h2>Quel intérêt pour l'internaute ?</h2>
            <p>
                Lorsque l’internaute se rend sur le site, il plonge au coeur d’un univers graphique qui capte sa curiosité et son émerveillement. On s’appuie ainsi sur une constante de la communication Coca Cola, à savoir la place primordiale qu’occupent l’émerveillement et l’émotionnel.<br/><br/>
            </p><!--
            !--><p>
                Plus concrètement, l’interaction de l’internaute avec le site se fait principalement sur la base du tweet. Pour chaque tweet posté avec #socialcoke, le pseudo de l’internaute vient compléter le design de la bouteille. Il apparaît alors directement sur la bouteille et découvre un peu plus de sa forme.<br/><br/>
            </p><!--
            !--><p>
                Par ailleurs, les tweets ont une seconde fonction dans notre campagne. Ils permettent de construire l’univers Coca Cola autour de l’événement principal. Les internautes prennent ainsi partie à la construction de l’univers « décalé » qui se dessine peu à peu.
            </p>
        </div>
    </article>
            
    <article id='socialCoke-universe'>
        <div class="page-content">
            <h2>The Universe</h2>
            <h3>Propose à l’internaute une expérience riche, captivante et amusante</h3>    
            <p>
                Cet univers entourant la bouteille présente la marque Coca Cola sous l’angle de l’art. Il est composé à la manière d’une infographie, présentant des historiques graphiques de la marque, l’évolution de son design, ou encore la forme de ses bouteilles au fil des années, le tout présenté de manières ludique.
            </p><!--
            !--><p>
                L’univers est volontairement très illustré, sans cadre défini pour laisser une très grande liberté à la navigation de l’internaute.<br/>Un soin particulier a été accordé aux détails dans les illustrations, les animations et tous autres rendus visuels qui permettent d’attiser, la curiosité et l’enthousiasme du visiteur.            
            </p>
            <img src='../assets/img/social-coke/oiseaux.svg' alt=''> 
        </div>                  
    </article>

    <article id='socialCoke-bottle'>
        <div class="page-content">
            <h2>Et quand la bouteille est pleine ?</h2>
            <p>
                La campagne se termine lorsque la bouteille est pleine. Pour autant tout ne s’arrête pas là. Il s’agit de remercier les participants et de profiter de la plus grande notoriété du site.<br/><br/>
            </p><!--
            !--><p>
                La bouteille sera donc réellement produite sous forme d’une nouvelle édition collector "Socialbottle". Elle sera offerte aux participants à la campagne et une possibilité sera donnée aux internautes de la commander sur le site.<br/><br/>
            </p><!--
            !--><p>
                Le site sera par ailleurs disponible dans son intégralité. Les visiteurs pourront donc profiter pleinement de l’expérience, à la manière d’une infographie présentant les liens forts entre Coca Cola et le monde de l’art.  
            </p>
        </div>
                <img id='poisson' src='../assets/img/social-coke/poisson.svg' alt=''>                  

    </article>
            <!--
            <div id='socialCoke-universe'>
                <p>
                    <em>The Universe</em>
                    Lorsque l’internaute se rend sur le site, il plonge au coeur d’un univers graphique qui capte sa curiosité et son émerveillement. On s’appuie ainsi sur une constante de la communication Coca Cola, à savoir la place primordiale qu’occupent l’émerveillement et l’émotionnel.<br/><br/>
                    Plus concrètement, l’interaction de l’internaute avec le site se fait principalement sur la base du tweet. Pour chaque tweet posté avec le #socialcoke, le pseudo de l’internaute vient compléter le design de la bouteille. Il apparaît alors directement sur la bouteille et découvre un peu plus de sa forme.<br/><br/>
                    Par ailleurs, les tweets ont une seconde fonction dans notre campagne. Ils permettent de construire l’univers Coca cola autour de l’événement principal. Les internautes prennent ainsi partie à la construction de l’univers « décalé » qui se dessine peu à peu.
                </p>   
            </div> 
            <div id='socialCoke-bottle'>
                <img src='../assets/img/social-coke/oiseaux.svg' alt=''>                   
                <p>
                    <em>Et quand la bouteille est pleine ?</em>
                    La campagne se termine lorsque la bouteille est pleine. Pour autant tout ne s’arrête pas là. Il s’agit de remercier les participants et de profiter de la plus grande notoriété du site.<br/><br/>
                    La bouteille sera donc réellement produite sous forme d’une nouvelle édition collector « Socialbottle ». Elle sera offerte aux participants à la campagne et une possibilité sera donnée aux internautes de la commander sur le site.<br/><br/>
                    Le site sera par ailleurs disponible dans son intégralité. Les visiteurs pourront donc profiter pleinement de l’expérience, à la manière d’une infographie présentant les liens forts entre Coca-Cola et le monde de l’art.  
                </p>  
            </div>    
        </div>
    </article>!-->

    <footer>
        <p>That’s all folk</p>
        <p>Thank you for watching</p>
    </footer>
</section>

</body>
</html>
