<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kévin Lagier</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="Kévin LAGIER" />
    <meta name="keywords" content="Kévin LAGIER, portfolio, web, design, Hetic, graphic design, webdesign, websites, communication, project management, ergonomics, UX, responsive, digital" />
    <meta name="description" content="Personal portfolio Kévin LAGIER, French Graphic Designer From Annecy, student at Hetic in Paris" />   
 
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/identity/favicon.png" />

    <link rel="stylesheet" href="../assets/css/soSteezy.css" type="text/css" media="screen"  />    
</head>

<body>

<div id="resize">
    <p>
        Please<br/>resize your browser
    </p>
</div>


<div style="display:none; z-index:99; position:fixed; top:0; left:0; right:0; text-align:center;">
    <img src='../assets/img/grid.png'>
</div>

<div id='borderTop' class="open"></div>
<div id='borderBottom' class="open"></div>
<div id='borderLeft' class="open"></div>
<div id='borderRight' class="open"></div>

<section id='theWhole'>
    <article id='theWhole-introduction'>
        <div class="page-content" style='position:relative; z-index:10;'>
            <ul>
                <li>
                    <span>Date :</span>
                    March 2013
                </li><!--
                !--><li>
                    <span>Client :</span>
                    The Whole
                </li><!--
                !--><li>
                    <span>Role :</span>
                    Design
                </li>
            </ul>
            <h1>
                <img src='../assets/img/the-whole/the-whole-logo.svg' alt="The Whole logo">
                <span>The Whole</span>
            </h1>
            <p>
                The Whole est une interface qui réuni des flux d'informations issus de sources variées et les présente sous la forme d'un mûr d'informations.<br/>Ce projet présente la particularité de la mise en place d'un système d'unification des APIs.
            </p>
        </div>
    </article>


    <footer>
        <p>That’s all folk</p>
        <p>Thank you for watching</p>
    </footer>
</section>

</body>
</html>
