<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kévin Lagier</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="Kévin LAGIER" />
    <meta name="keywords" content="Kévin LAGIER, portfolio, web, design, Hetic, graphic design, webdesign, websites, communication, project management, ergonomics, UX, responsive, digital" />
    <meta name="description" content="Personal portfolio Kévin LAGIER, French Graphic Designer From Annecy, student at Hetic in Paris" />   
 
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/identity/favicon.png" />

    <link rel="stylesheet" href="../assets/css/soSteezy.css" type="text/css" media="screen"  />    
</head>

<body>

<div id="resize">
    <p>
        Please<br/>resize your browser
    </p>
</div>

<div id='borderTop' class="open"></div>
<div id='borderBottom' class="open"></div>
<div id='borderLeft' class="open"></div>
<div id='borderRight' class="open"></div>


        <nav class="button-menu" style='top:38px;'>
            <a href="#">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="7px" viewBox="0 0 17 7.016" enable-background="new 0 0 17 7.016" xml:space="preserve">
                    <rect fill="#b59663" width="18" height="1"/>
                    <rect y="3" fill="#b59663" width="18" height="1"/>
                    <rect y="6" fill="#b59663" width="18" height="1"/>
                </svg>
            </a>
        </nav> 

<section id='theWhole'>
    <article id='theWhole-introduction'>
        <div class="page-content">
            <ul>
                <li>
                    <span>Date :</span>
                    March 2013
                </li><!--
                !--><li>
                    <span>Client :</span>
                    The Whole
                </li><!--
                !--><li>
                    <span>Role :</span>
                    Design
                </li>
            </ul>
            <h1>
                <img src='../assets/img/the-whole/the-whole-logo.png' alt="The Whole logo">
                <span>The Whole</span>
            </h1>
            <p>
                The Whole est une interface qui réuni des flux d'informations issus de sources variées et les présente sous la forme d'un mur d'informations.<br/>Ce projet présente la particularité de la mise en place d'un système d'unification des APIs.
            </p>
            <img src='../assets/img/the-whole/the-whole-mba.png' alt=''>
        </div>
    </article>
    
    <article id='theWhole-concept' >
        <div class='page-content'>
            <h2>The Concept</h2>
            <h3>Connect and follow the world</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
             </p><!--
            !--><p>
                Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            </p>   
            <img src='../assets/img/the-whole/the-whole-concept.png' alt=''>
        </div>
    </article>

    <article id='theWhole-interface' >
        <div class='page-content'> 
            <h2>The interface</h2>            
                <p>
                    To create a richly interactive storytelling experience, it was clear we needed a set of interface components that worked separately and together within a common visual theme.
                </p>
            <div id='theWhole-interface-content'>
                <img src='../assets/img/the-whole/the-whole-interface.png' alt=''>
                <ul>
                    <li>
                        <img src='../assets/img/the-whole/the-whole-bookmark.png' alt=''>
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </li><!-- 
                    !--><li>
                        <img src='../assets/img/the-whole/the-whole-fbInfos.png' alt=''>
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </li><!-- 
                    !--><li>
                        <img src='../assets/img/the-whole/the-whole-filtre.png' alt=''>
                        <h3>Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </li>
            </div>
            <div id='theWhole-menu'>
                <img src='../assets/img/the-whole/the-whole-menu.png' alt=''>
                <img src='../assets/img/the-whole/the-whole-safari.png' alt=''>
            </div>
            
        </div>
    </article>

    <article id='theWhole-element' >
        <div class='page-content'>
            <span>
                <h2><b>Clear</b>Components</h2>            
                <p>
                    To create a richly interactive storytelling experience, it was clear we needed a set of interface components that worked separately and together within a common visual theme.<br/><br/>
                    As with any interactive setting, we had to think through and fully design all the various states within each component across the digital experience.
                </p>
            </span><!--
            !--><img id='element-img' src='../assets/img/the-whole/element.png' alt=''>
        </div>
    </article>

    <article id='theWhole-madeWith'>
        <div class="page-content">
            <img src='../assets/img/the-whole/the-whole-macbook-air.png' alt=''>
            <h2>A project made with ...</h2>
            <ul>
                <li>
                    <a href='http://bastien-lardeux.com/' target='_blank'>Robin Lambert</a>
                    <a href='https://twitter.com/Robin_Lambert' target='_blank'>L</a>
                    Ux Ergonomie<br/>Conception
                </li><!--
                !--><li>
                    <a href='http://www.nicolasmatt.com/' target='_blank'>Nicolas Matt</a>
                    <a href='https://twitter.com/nicomatt89' target='_blank'>L</a>
                    Chef de projet<br/>Conception
                </li><!--
                !--><li>
                    <a href='http://florentin-monteil.com/' target='_blank'>Florentin Monteil</a>
                    <a href='https://twitter.com/FloMonteil' target='_blank'>L</a>
                    Développement<br/>(Fat Free, Api)
                </li><!--
                !--><li>
                    <a href='http://cs-work.com/' target='_blank'>Constance Souville</a>
                    <a href='https://twitter.com/ConstanceSou' target='_blank'>L</a>
                    Integration<br/>Conception
                </li>
            </ul>
        </div>
    </article>

    <footer>
        <p>That’s all folk</p>
        <p>Thank you for watching</p>
    </footer>
</section>

</body>
</html>
