<?php require ("app/Views/Assets/head.php"); ?>

<?php require ("app/Views/Assets/menu.php"); ?>

<section>
	<article id="about">
		<h1>
			I'm <strong>Kév<span>i</span>n <em>Lagi<span>e</span>r</em></strong>, a <em id="age"><span id="ageContent"><span id="ageLeft">7 3 8 1 2</span><span id="ageRight">1 4 9 5 7</span></span></em> year old webdesigner from France.
		</h1>
		<p>
			Currently student at <a href="http://hetic.net" target="_blank" title="HETIC, l'école des métiers de l'internet">Hétic</a>, a webschool based in Paris, I combine Graphic Design and Front-End Development, in order to offer solutions for websites. I have also skills in Project Management, UX Conception and Art Direction. I'm always aware and mindful of cultural and environmental change.
		</p>
	</article>
	<img id="aboutImg" src="public/img/about/about.png" alt=""/>	
	<article id="skills">
		<h1>Skills</h1>
		<ul class="play">
			<li>
				<div class="diagram">
					<div class="percentGraphicDesign"><span>0 1 2 3 4 5 6 7</span><span>0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8</span><span>%</span></div>
					<div class="value">
						<div class="diagramPartOne oneQuarter"></div>
						<div class="diagramPartTwo twoQuarter"></div>
						<div class="diagramPartThree threeQuarter"></div>
						<div class="graphicDesignFour fourQuarter"></div>
						<div class="mask"></div>
					</div>
				</div>
				<p>Graphic Design</p>
			</li><!--
			!--><li>
				<div class="diagram">
					<div class="percentFrontEnd"><span>0 1 2 3 4 5 6</span><span>0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6</span><span>%</span></div>
					<div class="value">
						<div class="diagramPartOne oneQuarter"></div>
						<div class="diagramPartTwo twoQuarter"></div>
						<div class="frontEndThree threeQuarter"></div>
						<div class="mask"></div>
					</div>
				</div>
				<p>Front-End Development</p>
			</li><!--
			!--><li>
				<div class="diagram">
					<div class="percentProjectManagement">
						<span>0 1 2 3 4 5</span>
						<span>0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3</span>
						<span>%</span>
					</div>
					<div class="value">
						<div class="diagramPartOne oneQuarter"></div>
						<div class="diagramPartTwo twoQuarter"></div>
						<div class="projectManagementThree threeQuarter"></div>
						<div class="mask"></div>
					</div>
				</div>
				<p>Project Management</p>
			</li><!--
			!--><li>
				<div class="diagram">
					<div class="percentUxConception">
						<span>0 1 2 3 4</span>
						<span>0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7</span>
						<span>%</span>
					</div>
					<div class="value">
						<div class="diagramPartOne oneQuarter"></div>
						<div class="uxConceptionTwo twoQuarter"></div>
						<div class="mask"></div>
					</div>
				</div>
				<p>UX Conception</p>
			</li><!--
			!--><li>
				<div class="diagram">
					<div class="percentArtDirection">
						<span>0 1 2 3 4</span>
						<span>0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3
						</span>
						<span>%</span>
					</div>
					<div class="value">
						<div class="diagramPartOne oneQuarter"></div>
						<div class="artDirectionTwo twoQuarter"></div>
						<div class="mask"></div>
					</div>
				</div>
				<p>Art Direction</p>
			</li>
		</ul>
	</article>	
</section>	

<?php require ("app/Views/Assets/footer.php"); ?>


