<?php require ("app/Views/Assets/head.php"); ?>


<?php require ("app/Views/Assets/menu.php"); ?>

<section id="about">
	<article>
		<h1>Florent<span>i</span>n <em>Mont<span>e</span>il<em></h1>
		<h2>Webdeveloper</h2>
		<p>I'm a 21 year old webdesigner from France. I'm currently student at HETIC : a webschool based in Paris. Combining Graphic Design and Front-End Development, I offer solutions for websites. I have also skills in Project Management, UX Conception and Art Direction.</p>
	</article><!--
	--><article>
		<h1>Kév<span>i<span>n <em>Lag<span>i<span>er<em></h1>
		<h2>Webdesigner & Front-end Developer</h2>
		<p>I'm a 21 year old webdesigner from France. I'm currently student at HETIC : a webschool based in Paris. Combining Graphic Design and Front-End Development, I offer solutions for websites. I have also skills in Project Management, UX Conception and Art Direction.</p>
	</article><!--
	--><article>
		<h1>Math<span>i</span>eu <em>Boul<span>e</span>t<em></h1>
		<h2>Creative writer & graphic designer</h2>
		<p>I'm a 21 year old webdesigner from France. I'm currently student at HETIC : a webschool based in Paris. Combining Graphic Design and Front-End Development, I offer solutions for websites. I have also skills in Project Management, UX Conception and Art Direction.</p>
	</article>
</section>





</body>
</html>




