<?php require ("app/Views/Assets/head.php"); ?>

<?php require ("app/Views/Assets/header.php"); ?>

<?php require ("app/Views/Assets/menu.php"); ?>


<div id="nav-dock"> 
	<a id="prev" href="#"><span>... This is some things I've worked on</span></a> 
	<a id="next" href="#"><span>I'm a Webdesigner and ...</span></a>
</div>
<div id="video" style="position:absolute; left:0; right:0; top:0; bottom:0; text-align:center; font-size:30px; ">
	<video preload="auto" autoplay="autoplay" loop="loop" onended="loopVideo()"
	 style="width:100%; left:0; position:fixed;">
        <source src="public/video/video.mp4" />
    </video>       
</div>
<section id="work">
	<div class="post"></div>

	<article class="post" id="theWholeWork">
		<a href="#" class="scrolltoanchor">
			<div class="unactiveWork" ></div>

		</a>
	</article>

	<article class="post" id="socialCokeWork">
		<a href="#" class="scrolltoanchor">
			<div class="unactiveWork"></div>


		</a>
	</article>
	<article class="post" id="partechWork">
		<a href="#" class="scrolltoanchor">
			<div class="unactiveWork"></div>
		</a>
	</article>	
	<div class="post"></div>

</section>




<?php require ("app/Views/Assets/footer.php"); ?>

<script type="text/javascript" src="public/js/lib/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="public/js/lib/jquery.mousewheel.min.js"></script>

