<?php require ("app/Views/Assets/head.php"); ?>

<?php require ("app/Views/Assets/header.php"); ?>

<?php require ("app/Views/Assets/menu.php"); ?>

<section id="partech">	

	<div id="slider">	
		<input checked type="radio" name="slider" id="slide1" />
		<input type="radio" name="slider" id="slide2" />
		<input type="radio" name="slider" id="slide3" />
		<input type="radio" name="slider" id="slide4" />
		<div id="slides">
			<div id="overflow">
				<div class="inner">
					<article>
						<img src="public/img/work/partech/slider1-partech.jpg" alt="Back Rack"/>	
					</article>
					<article>
						<img src="public/img/work/partech/slider2-partech.jpg" alt="Single Rack"/>	
					</article>
					<article>
						<img src="public/img/work/partech/slider3-partech.jpg" alt="Single Rack"/>	
					</article>
					<article>
						<img src="public/img/work/partech/slider4-partech.jpg" alt="Spad Rail II"/>	
					</article>
				</div>
			</div>
		</div>	
		<div id="controls">
			<label for="slide1"></label>
			<label for="slide2"></label>
			<label for="slide3"></label>
			<label for="slide4"></label>
		</div> 
		<div id="active">
			<label for="slide1">1</label>
			<label for="slide2">2</label>
			<label for="slide3">3</label>
			<label for="slide4">4</label>
		</div>
	</div>

	<article class="description">
		<h1>Partech</h1>
		<ul>
			<li><em>Client :</em> Partech Sarl</li>
			<li><em>Services :</em> web, mobile, print</li>
			<li><em>Release :</em> may 2012</li>
		</ul>
		<p>
			Corporate website for Partech, a design office specializing in manufactured chairlifts.
			With an experience of many years in consultancy major manufacturers, Partech brings its experience in industrial equipment and mountain. 
		</p>
		<a href="http://www.partech-sarl.com/" target="_blank">Visit website</a>
	</article>

	<article id="dragScreen">
		<div>
			<span></span>
			<img src="public/img/work/partech/drag-arrow.png" alt="Drag"/>
			<img id="cinemaDisplayPartech" src="public/img/work/partech/cinema-display-noscreen-partech.png" alt="Cinema Display"/>	
			<img src="public/img/work/partech/screen-home-partech.png" alt="Scren Home"/>
		</div>
	</article>

	<article id="sketch">
		<img id="spadRailSketch" src="public/img/work/partech/spad-rail-sketch-partech.png" alt="Sketch Spad Rail II"/>
	</article>

	<article id="screenSize" class="screenSizeImg1">
		<input type="radio" name="screenSizeNext" id="screenSizeNext" />
		<label for="screenSizeNext"></label>
		<input type="radio" name="screenSizePrev" id="screenSizePrev" />
		<label for="screenSizePrev"></label>
		<div id="imac">
			<img src="public/img/work/partech/imac-partech.png" alt=""/>
			<img src="public/img/work/partech/imac-screen-partech.png" alt=""/>
		</div>
		<div id="macbook">
			<img src="public/img/work/partech/macbook-partech.png" alt=""/>
			<img src="public/img/work/partech/imac-screen-partech.png" alt=""/>
		</div>
		<div id="ipad">
			<img src="public/img/work/partech/ipad-partech.png" alt=""/>
			<img src="public/img/work/partech/ipad-screen-partech.png" alt=""/>
		</div>
		<div id="iphone5">
			<img src="public/img/work/partech/iphone5-partech.png" alt=""/>
			<img src="public/img/work/partech/iphone5-screen-partech.png" alt=""/>
		</div>
		<ul>
			<li id="screenSizeImg1" class="screenSizeActive">1</li>
			<li id="screenSizeImg2">2</li>
			<li id="screenSizeImg3">3</li>
			<li id="screenSizeImg4" >4</li>
		</ul>
	</article>

</section>	

<?php require ("app/Views/Assets/footer.php"); ?>


